
<div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Clientes</strong></div>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Cnpj/CPF</th>
                    <th>Cidade</th>
                    <th>Data Ultima Compra</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>10 - Antonio Jose da Silva</td>
                    <td>057.999.999-99</td>
                    <td>Uberaba</td>
                    <td><a>20/05/2016</a></td>
                    <td>(34)988406670 <br> (34)33158065</td>
                    <td>wlclimaco@gmail.com</td>
                    <td><span class="label label-info">Ativo</span></td>
                    <td><button class="btn btn-warning" ><i class="fa fa-edit"></i></button>&nbsp;<button class="btn btn-danger"><i class="fa fa-trash-o"></i></button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>10 - Antonio Jose da Silva</td>
                    <td>057.999.999-99</td>
                    <td>Uberaba</td>
                    <td><a>20/05/2016</a></td>
                    <td>(34)988406670 <br> (34)33158065</td>
                    <td>wlclimaco@gmail.com</td>
                    <td><span class="label label-info">Ativo</span></td>
                    <td><button class="btn btn-warning" ><i class="fa fa-edit"></i></button>&nbsp;<button class="btn btn-danger"><i class="fa fa-trash-o"></i></button></td>
                </tr><tr>
                    <td>3</td>
                    <td>10 - Antonio Jose da Silva</td>
                    <td>057.999.999-99</td>
                    <td>Uberaba</td>
                    <td><a>20/05/2016</a></td>
                    <td>(34)988406670 <br> (34)33158065</td>
                    <td>wlclimaco@gmail.com</td>
                    <td><span class="label label-info">Ativo</span></td>
                    <td><button class="btn btn-warning" ><i class="fa fa-edit"></i></button>&nbsp;<button class="btn btn-danger"><i class="fa fa-trash-o"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
<!-- ... -->
