<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="dist/css/select2.css"/>
<script src="dist/js/select2.min.js"></script>
<div ng-controller="NFEntradaController as showCase">
    <table datatable dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="row-border hover">
    	<tfoot>
        <tr>
            <th>ID
            </th><th>First Name
            </th><th>Last Name
            </th><th>Last Name
            </th><th>Last Name
            </th><th>Last Name
            </th><th>Last Name
            </th><th>Last Name
            </th><th>Last Name
        </th></tr>
        </tfoot>
    </table>
    <div class="container">
			     <script type="text/ng-template" id="modalNfEntrada.html">
			         <div class="modal fade">
			          <div class="modal-dialog" style="width : 87%">
			            <div class="modal-content">
			              <div class="modal-header">
			                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
			                <h4 class="modal-title">Cadastro Nota Fiscal Entrada</h4>
			              </div>
			              <div class="modal-body">
			                <form  id="empresaForm" ng-submit="close('Yes')">
	                                <div class="row">
	                                    <div class="col-md-12">
	                                    <div class="row">
	                                        <div class="form-group col-sm-12">
	                                            <label for="exampleInputEmail1">Fornecedor</label></div>
	                                            <select  name="fornecedor" class="form-control">
                                                    <option> teste 001</option>
                                                    <option> teste 002</option>
                                                    <option> teste 003</option>
                                                    <option> teste 004</option>
                                                    <option> teste 005</option>

                                                </select>
	                                        
	                                    </div>
	                                    <div class="row">
	                                        <div class="form-group col-sm-4">
	                                            <label for="exampleInputEmail1">Número da NF</label>
	                                            <input type="text" class="form-control" ng-model="cfop.descricao" name="descricao" placeholder="Número da NF">
	                                        </div>
	                                        <div class="form-group col-sm-4">
	                                            <label for="exampleInputEmail1">Série da NF</label>
	                                            <input type="text" class="form-control" ng-model="cfop.descricao" name="descricao" placeholder="Série da NF">
	                                        </div>
	                                        <div class="form-group col-sm-4">
	                                            <label for="exampleInputEmail1">Cód. Regime Trib.</label>
	                                            <select id="entradas_crt" class="form-control" name="entradas_crt">
	                                            	<option value="0">Escolha o CRT</option>
	                                            	<option value="1">Simples Nacional</option>
	                                            	<option value="2">Simples - excesso de sublimite</option>
	                                            	<option value="3">Regime Normal</option>
	                                            </select>
	                                        </div>
	                                    </div>
	                                    <div class="row">
	                                        <div class="form-group col-sm-4">
	                                            <label for="exampleInputPassword1">Data da NF</label>
	                                            <input type="password" class="form-control" ng-model="cfop.icmsReduzido" name="password" placeholder="0.00">
	                                        </div>
	                                        <div class="form-group col-sm-4">
	                                            <label for="exampleInputPassword1">Data da entrada</label>
	                                            <input type="password" class="form-control" ng-model="cfop.margemAgregadaST" name="password" placeholder="0.00">
	                                        </div>
	                                        <div class="form-group col-sm-4">
	                                            <label for="exampleInputPassword1">Chave de acesso (NFe)</label>
	                                            <input type="password" class="form-control" ng-model="cfop.icmsReduzido" name="password" placeholder="0.00">
	                                        </div>
	                                    </div>
	                                    <div class="row col-sm-12">
	                                        <div class="form-group">
	                                            <label for="exampleInputPassword1">Observação</label>
	                                            <input type="password" class="form-control" ng-model="cfop.observacao" name="password" placeholder="Observação">
	                                        </div>
	                                    </div>
	                                     <div class="row"></div>
	                                    <div class="panel panel-default">
										  <div class="panel-heading">
										    <h3 class="panel-title">Valores externos (Editar)</h3>
										  </div>
										  <div class="panel-body">
										  		<div class="row col-sm-12">
			                                        <div class="form-group col-sm-4">
			                                            <label for="exampleInputPassword1">Frete fora da nota</label>
			                                            <input type="password" class="form-control" ng-model="cfop.classFiscal" name="password" placeholder="0.00">
			                                         </div>
			                                         <div class="form-group col-sm-4">
			                                            <label for="exampleInputPassword1">Diferença de ICMS</label>
			                                            <input type="password" class="form-control" ng-model="cfop.classFiscal" name="password" placeholder="0.00">
			                                        </div>
			                                        <div class="form-group col-sm-4">
			                                            <label for="exampleInputPassword1">Outras despesas</label>
			                                            <input type="password" class="form-control" ng-model="cfop.classFiscal" name="password" placeholder="0.00">
			                                        </div>
			                                    </div>
										  </div>
										</div>
	                                    <div class="panel panel-default">
										  <div class="panel-heading">
										    <h3 class="panel-title">Produtos</h3>
										  </div>
										  <div class="panel-body">
					                            <div class="row socios">
					                                    <div class="col-sm-3">
					                                        <div class="form-group">
					                                            <label for="exampleInputPassword1">Cód. produto</label>
					                                        </div>
					                                            <select  name="book[0].fornecedor" class="form-control">
				                                                    <option> teste 001</option>
				                                                    <option> teste 002</option>
				                                                    <option> teste 003</option>
				                                                    <option> teste 004</option>
				                                                    <option> teste 005</option>
				                                                    <option>Cadastrar Produto</option>

				                                                </select>
					                                        </div>
					                                    
					                                    <div class="col-sm-1">
					                                        <div class="form-group">
					                                            <label for="exampleInputPassword1">Qtd.</label>
					                                            <input type="text" class="form-control nome-socio"  name="book[0].qnt" placeholder="Nome Socio" />
					                                        </div>
					                                    </div>
					                                    <div class="col-sm-1">
					                                        <div class="form-group">
					                                            <label for="exampleInputPassword1">V. Unit($)</label>
					                                            <input type="text" class="form-control cota-socio"  name="book[0].unit" placeholder="%" />
					                                        </div>
					                                    </div>
					                                    <div class="col-sm-1">
					                                        <div class="form-group">
					                                            <label for="exampleInputPassword1">Frete($)</label>
					                                            <input type="text" class="form-control cota-socio"  name="book[0].frete" placeholder="%" />
					                                        </div>
					                                    </div>
					                                    <div class="col-sm-1">
					                                        <div class="form-group">
					                                            <label for="exampleInputPassword1">Seg.($)</label>
					                                            <input type="text" class="form-control cota-socio"  name="book[0].seg" placeholder="%" />
					                                        </div>
					                                    </div>
					                                    <div class="col-sm-1">
					                                        <div class="form-group">
					                                            <label for="exampleInputPassword1">Desc.($)</label>
					                                            <input type="text" class="form-control cota-socio"  name="book[0].desc" placeholder="%" />
					                                        </div>
					                                    </div>
					                                    <div class="col-sm-1">
					                                        <div class="form-group">
					                                            <label for="exampleInputPassword1">IPI($)</label>
					                                            <input type="text" class="form-control cota-socio"  name="book[0].ipi" placeholder="%" />
					                                        </div>
					                                    </div>
					                                    <div class="col-sm-1">
					                                        <div class="form-group">
					                                            <label for="exampleInputPassword1">ICMS($)</label>
					                                            <input type="text" class="form-control cota-socio"  name="book[0].icms" placeholder="%" />
					                                        </div>
					                                    </div>
					                                    <div class="col-sm-1">
					                                        <div class="form-group">
					                                            <label for="exampleInputPassword1">S.Trib.($)</label>
					                                            <input type="text" class="form-control cota-socio"  name="book[0].trib" placeholder="%" />
					                                        </div>
					                                    </div>
					                                    <div class="col-xs-1" style="margin-top:18px">
					                                        <button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
					                                    </div>
					                            </div>
					                                <div class="form-group hide" id="bookTemplate">
					                                    <div class="row socios">

					                                    	<div class="col-sm-3">
					                                        <div class="form-group">
					                                            <label for="exampleInputPassword1">Cód. produto</label>
					                                            <select id="mySel" name="fornecedor" class="form-control">
				                                                    <option> teste 001</option>
				                                                    <option> teste 002</option>
				                                                    <option> teste 003</option>
				                                                    <option> teste 004</option>
				                                                    <option> teste 005</option>
				                                                    <option>Cadastrar Produto</option>

				                                                </select>
					                                        </div>
					                                    </div>
					                                    <div class="col-sm-1">
					                                        <div class="form-group">
					                                            <label for="exampleInputPassword1">Qtd.</label>
					                                            <input type="text" class="form-control nome-socio"  name="qtd" placeholder="0" />
					                                        </div>
					                                    </div>
					                                    <div class="col-sm-1">
					                                        <div class="form-group">
					                                            <label for="exampleInputPassword1">V. Unit($)</label>
					                                            <input type="text" class="form-control cota-socio"  name="unit" placeholder="R$0,00" />
					                                        </div>
					                                    </div>
					                                    <div class="col-sm-1">
					                                        <div class="form-group">
					                                            <label for="exampleInputPassword1">Frete($)</label>
					                                            <input type="text" class="form-control cota-socio"  name="frete" placeholder="R$0,00" />
					                                        </div>
					                                    </div>
					                                    <div class="col-sm-1">
					                                        <div class="form-group">
					                                            <label for="exampleInputPassword1">Seg.($)</label>
					                                            <input type="text" class="form-control cota-socio"  name="seg" placeholder="R$0,00" />
					                                        </div>
					                                    </div>
					                                    <div class="col-sm-1">
					                                        <div class="form-group">
					                                            <label for="exampleInputPassword1">Desc.($)</label>
					                                            <input type="text" class="form-control cota-socio"  name="desc" placeholder="R$0,00" />
					                                        </div>
					                                    </div>
					                                    <div class="col-sm-1">
					                                        <div class="form-group">
					                                            <label for="exampleInputPassword1">IPI($)</label>
					                                            <input type="text" class="form-control cota-socio"  name="ipi" placeholder="R$0,00" />
					                                        </div>
					                                    </div>
					                                    <div class="col-sm-1">
					                                        <div class="form-group">
					                                            <label for="exampleInputPassword1">ICMS($)</label>
					                                            <input type="text" class="form-control cota-socio"  name="icms" placeholder="R$0,00" />
					                                        </div>
					                                    </div>
					                                    <div class="col-sm-1">
					                                        <div class="form-group">
					                                            <label for="exampleInputPassword1">S.Trib.($)</label>
					                                            <input type="text" class="form-control cota-socio"  name="trib" placeholder="R$0,00" />
					                                        </div>
					                                    </div>
					                                    
						                                    <div class="col-xs-1" style="margin-top:18px">
						                                        <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
						                                    </div>
					                                </div>
					                            </div>
										  </div>
										</div>
										<div class="panel panel-default">
										  <div class="panel-heading">
										    <h3 class="panel-title">Dados Financeiro</h3>
										  </div>
										  <div class="panel-body">
					                            <div class="row socios">
					                                    <div class="col-sm-2">
					                                        <div class="form-group">
					                                            <label for="exampleInputPassword1">Nº Parcela</label>
					                                        	<input type="text" class="form-control nome-socio"  name="financ[0].parcela" placeholder="Nº Parcela" />
					                                        </div>
					                                    </div>
					                                    <div class="col-sm-3">
					                                        <div class="form-group">
					                                            <label for="exampleInputPassword1">Valor ($)</label>
					                                            <input type="text" class="form-control nome-socio"  name="financ[0].valor" placeholder="R$0,00" />
					                                        </div>
					                                    </div>
					                                    <div class="col-sm-3">
					                                        <div class="form-group">
					                                            <label for="exampleInputPassword1">Desc.($)</label>
					                                            <input type="text" class="form-control cota-socio"  name="financ[0].desconto" placeholder="%" />
					                                        </div>
					                                    </div>
					                                    <div class="col-sm-3">
					                                        <div class="form-group">
					                                            <label for="exampleInputPassword1">Data vencimento</label>
					                                            <input type="text" class="form-control cota-socio"  name="financ[0].dtVencimento" placeholder="%" />
					                                        </div>
					                                    </div>
					                                  
					                                    <div class="col-xs-1" style="margin-top:18px">
					                                        <button type="button" class="btn btn-default addfinanc"><i class="fa fa-plus"></i></button>
					                                    </div>
					                            </div>
					                                <div class="form-group hide" id="bookTemplate1">
					                                    <div class="row socios">

					                                    <div class="col-sm-2">
					                                        <div class="form-group">
					                                            <label for="exampleInputPassword1">Nº Parcela</label>
					                                        	<input type="text" class="form-control nome-socio"  name="parcela" placeholder="Nº Parcela" />
					                                        </div>
					                                    </div>
					                                    <div class="col-sm-3">
					                                        <div class="form-group">
					                                            <label for="exampleInputPassword1">Valor ($)</label>
					                                            <input type="text" class="form-control nome-socio"  name="valor" placeholder="R$0,00" />
					                                        </div>
					                                    </div>
					                                    <div class="col-sm-3">
					                                        <div class="form-group">
					                                            <label for="exampleInputPassword1">Desc.($)</label>
					                                            <input type="text" class="form-control cota-socio"  name="desconto" placeholder="%" />
					                                        </div>
					                                    </div>
					                                    <div class="col-sm-3">
					                                        <div class="form-group">
					                                            <label for="exampleInputPassword1">Data vencimento</label>
					                                            <input type="text" class="form-control cota-socio"  name="dtVencimento" placeholder="%" />
					                                        </div>
					                                    </div>
					                                    
						                                    <div class="col-xs-1" style="margin-top:18px">
						                                        <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
						                                    </div>
					                                </div>
					                            </div>
										  </div>
										</div>
									</div>
			              		</div>
			              	</form>
			              </div>
			              <div class="modal-footer">
			                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			                <input type="submit" id="submit" value="Submit"/>
			                <button type="button" type="submit" id="submit" value="Submit"  ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Gravar</button>
			              </div>
			            </div>
			          </div>
			        </div>
			     </script>

			</div>

			<div class="container">
			     <script type="text/ng-template" id="cfopDelete.html">
			         <div class="modal fade">
			          <div class="modal-dialog">
			            <div class="modal-content">
			              <div class="modal-header">
			                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
			                <h4 class="modal-title">Deletar</h4>
			              </div>
			              <div class="modal-body">
			                	<p>Deseja Realmente EXCLUIR ID : 1001 </p>
			              </div>
			              <div class="modal-footer">
			                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Sim</button>
			                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Não</button>
			              </div>
			            </div>
			          </div>
			        </div>
			     </script>

			</div>
</div>
