
<div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Nota Fiscal Entrada</strong></div>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Fornecedor</th>
                    <th>Data Entrada</th>
                    <th>Valor</th>
                    <th>Valor Produtos</th>
                    <th>Status</th>
                    <th>N° Pedido Compra</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>10 - Antonio Jose da Silva</td>
                    <td>20/05/2016</td>
                    <td>R$ 5.665,99</td>
                    <td><a>R$ 5.665,99</a></td>
                    <td><span class="label label-info">Aguardando Conferencia</span></td>
                    <td><a>1001</a></td>
                    <td><button class="btn btn-warning" ><i class="fa fa-edit"></i></button>&nbsp;<button class="btn btn-danger"><i class="fa fa-trash-o"></i></button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>10 - Antonio Jose da Silva</td>
                    <td>20/05/2016</td>
                    <td>R$ 5.665,99</td>
                    <td><a>R$ 5.665,99</a></td>
                    <td><span class="label label-info">Aguardando Conferencia</span></td>
                    <td><a>1001</a></td>
                    <td><button class="btn btn-warning" ><i class="fa fa-edit"></i></button>&nbsp;<button class="btn btn-danger"><i class="fa fa-trash-o"></i></button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>10 - Antonio Jose da Silva</td>
                    <td>20/05/2016</td>
                    <td>R$ 5.665,99</td>
                    <td><a>R$ 5.665,99</a></td>
                    <td><span class="label label-info">Aguardando Conferencia</span></td>
                    <td><a>1001</a></td>
                    <td><button class="btn btn-warning" ><i class="fa fa-edit"></i></button>&nbsp;<button class="btn btn-danger"><i class="fa fa-trash-o"></i></button></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>10 - Antonio Jose da Silva</td>
                    <td>20/05/2016</td>
                    <td>R$ 5.665,99</td>
                    <td><a>R$ 5.665,99</a></td>
                    <td><span class="label label-info">Aguardando Conferencia</span></td>
                    <td><a>1001</a></td>
                    <td><button class="btn btn-warning" ><i class="fa fa-edit"></i></button>&nbsp;<button class="btn btn-danger"><i class="fa fa-trash-o"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
<!-- ... -->
