<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<div class="page page-dashboard" data-ng-controller="DashboardController">

    <div class="row">
        <div class="col-md-6" data-ng-controller="MorrisChartController">
            <section class="panel panel-default">
                <div class="panel-heading"><span class="glyphicon glyphicon-th"></span>Financeiro</div>
                <div class="panel-body">
                    <div morris-chart
                         data-data="combo1.data"
                         data-type="combo1.type"
                         data-options="combo1.options"
                         ></div>
                </div>
            </section>
        </div>
        <div class="col-lg-6">
            <!-- stats -->
            <div class="row">
                <div class="col-xsm-6">
                    <div class="panel mini-box">
                        <span class="box-icon rounded bg-success">
                            <i class="fa fa-rocket"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">10 <span class="size-h4">%</span></p>
                            <p class="text-muted"><span data-i18n="Aumento nas vendas mês maio"></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-xsm-6">
                    <div class="panel mini-box">
                        <span class="box-icon rounded bg-info">
                            <i class="fa fa-users"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">3</p>
                            <p class="text-muted"><span data-i18n="Pedidos de Compras"></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xsm-6">
                    <div class="panel mini-box">
                        <span class="box-icon rounded bg-warning">
                            <i class="fa fa-dollar"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h3">4.120,00</p>
                            <p class="text-muted"><span data-i18n="Caixa Atual"></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-xsm-6">
                    <div class="panel mini-box">
                        <span class="box-icon rounded bg-danger">
                            <i class="fa fa-shopping-cart"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">31</p>
                            <p class="text-muted"><span data-i18n="Pedidos de Vendas"></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end stats -->
        </div>
    </div>


    <div class="row" data-ng-controller="EChartsController as ec">
        <div class="col-md-6">

            <div class="panel panel-default panel-minimal">
                <div class="divider divider-md"></div>
                <div class="panel-heading">Produtos mais Vendidos</div>
                <div class="panel-body">
                    <div data-echarts data-options="ec.pie1.options" style="height: 350px;"></div>
                </div>
            </div>

        </div>
        <div class="col-md-6">

            <div class="panel panel-default panel-minimal">
                <div class="divider divider-md"></div>
                <div class="panel-heading">Estoque Vendas e Compras</div>
                <div class="panel-body">
                    <div data-echarts data-options="ec.line3.options" style="height: 350px;"></div>
                </div>
            </div>

        </div>
    </div>


        <section class="panel panel-default" data-ng-controller="SparkLineController">
            <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Dados Mes de Maio</div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Grafico ultimos resultados</th>
                        <th>Setor</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span data-sparkline
                                  data-data="simpleChart2.data"
                                  data-options="simpleChart2.options"
                                  ></span>
                        </td>
                        <td>Emissao Notas Fiscais</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td><span data-sparkline
                                  data-data="simpleChart2.data"
                                  data-options="simpleChart2.options"
                                  ></span></td>
                        <td>Cadastros Novos Clientes</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td><span data-sparkline
                                  data-data="simpleChart2.data"
                                  data-options="simpleChart2.options"
                                  ></span></td>
                        <td>Nota Fiscais de Entradas</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td>
                            <span data-sparkline
                                  data-data="simpleChart2.data"
                                  data-options="simpleChart2.options"
                                  ></span>
                        </td>
                        <td>Numero de Vendas pelo Site</td>
                        <td>50</td>
                    </tr>
                     <tr>
                        <td>
                            <span data-sparkline
                                  data-data="simpleChart2.data"
                                  data-options="simpleChart2.options"
                                  ></span>
                        </td>
                        <td>Numero de Visitas no Site no Mês</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>
                            <span data-sparkline
                                  data-data="simpleChart2.data"
                                  data-options="simpleChart2.options"
                                  ></span>
                        </td>
                        <td>Numero de Pedido de Vendas Aguardando Aprovação</td>
                        <td>7</td>
                    </tr>
                    <tr>
                        <td>
                            <span data-sparkline
                                  data-data="simpleChart2.data"
                                  data-options="simpleChart2.options"
                                  ></span>
                        </td>
                        <td>Numero de Ordem Serviço ABERTO</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>
                            <span data-sparkline
                                  data-data="simpleChart2.data"
                                  data-options="simpleChart2.options"
                                  ></span>
                        </td>
                        <td>Numero de XML de notas fiscal sem dar Entrada</td>
                        <td>2</td>
                    </tr>
                </tbody>
            </table>
        <div ng-controller="UtilController as vm"></div>
        </section>
	<div data-ui-footer></div>
</div>

<div class="container">
     <script type="text/ng-template" id="dashboardDialog.html">
         <div class="modal fade">
          <div class="modal-dialog" style="width : 80%">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Informativo </h4>
              </div>
              <div class="modal-body">
                    <div class="alert alert-warning">
                        <strong>Aviso!</strong> Esta e uma versão de demostração Onde todos os dados são fixo e que serve apenas para mostrar algumas funcionalidades do sistema.
                       <!-- <div class="row">
                            <div class="col-sm-3" style="margin-top:18px">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" data-checklist-model="empresa.types" data-checklist-value="1" /> Venda e Revenda Mercadoria ?
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3" style="margin-top:18px">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" data-checklist-model="empresa.types" data-checklist-value="2" /> Industria ?
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3" style="margin-top:18px">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" data-checklist-model="empresa.types" data-checklist-value="3" /> Industria e Comercio ?
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3" style="margin-top:18px">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" data-checklist-model="empresa.types" data-checklist-value="4" /> Outros ?
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3" style="margin-top:18px">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" data-checklist-model="empresa.types" data-checklist-value="5" /> Clinica Medica ?
                                        <div class"row">
                                            <input type="checkbox" data-checklist-model="empresa.types" data-checklist-value="6" /> Visão Cliente ?
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3" style="margin-top:18px">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" data-checklist-model="empresa.types" data-checklist-value="7" /> Escritorio Advocacia ?
                                        <div class"row">
                                            <input type="checkbox" data-checklist-model="empresa.types" data-checklist-value="8"  /> Visão Cliente ?
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3" style="margin-top:18px">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" data-checklist-model="empresa.types" data-checklist-value="9" /> Condominio ?
                                        <div class"row">
                                            <input type="checkbox" data-checklist-model="empresa.types" data-checklist-value="10" /> Visão Inquilino ?
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3" style="margin-top:18px">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" data-checklist-model="empresa.types" data-checklist-value="11" /> Empregada Domestica ?
                                    </label>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="row col-md-12 alert alert-info fade in">
                        <div id="quadriculo1" class="col-md-4">
                            <strong>Online</strong>
                            <p>O E-Contábil é um sistema totalmente online, não precisa instalação, funciona diretamente no seu navegador de internet. Também em alguns celulares modernos e tablets, basta ter acesso a internet.</p>
                        </div>
                        <div id="quadriculo2" class="col-md-4">
                            <strong>Fácil</strong>
                            <p>Grande parte do nosso tempo de desenvolvimento é dedicado a tornar o E-Contábil fácil e ágil. Estamos sempre pensando em meios de evitar retrabalho para você.</p>
                        </div>
                        <div id="quadriculo3" class="col-md-4">
                            <strong>Acessível</strong>
                            <p>O E-Contábil é um software barato. Toda a infra-estrutura de servidores e sistema é mantida por nós e, dessa maneira, você não terá surpresas com o custo do sistema.</p>
                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="alert alert-success fade in">
                        <strong>Modulos E-Contábil</strong>
                        <ul>
                            <li>Controle de Estoque</li>
                            <li>Controle Financeiro</li>
                            <li>Fluxo de Caixa</li>
                            <li>Nota Fiscal Eletrônica</li>
                            <li>Ordem de Serviço</li>
                            <li>Emissão de relatórios e etiquetas</li>
                            <li>Gestão de tarefas</li>
                            <li>Controle de Produção</li>
                        </ul>
                    </div>
                    <div class="alert alert-danger fade in">
                        <strong>Contato!</strong>

                        <ul>
                            <li>Email contato : econtabilsistemas@gmail.com</li>
                            <li>Telefone      : 34988406670</li>
                            <li>whatsapp      : 34991782776</li>
                            <li>Skype         : econtabil.sistemas</li>
                        </ul>
                    </div>
              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" ng-click="submit()" class="btn btn-primary" data-dismiss="modal">Visualizar</button>
              </div>
            </div>
          </div>
        </div>
     </script>

</div>

