<header class="top-header clearfix">
    <!-- Logo -->
    <div class="logo">
        <a href="#/">
            <span>{{::main.brand}}</span>
        </a>
    </div>
    <div class="top-nav" data-ng-controller="NavController">
        <ul class="nav-left pull-right list-unstyled">
            <li class="dropdown text-normal nav-profile" uib-dropdown on-toggle="toggled(open)">
                <a href="javascript:;" class="dropdown-toggle" uib-dropdown-toggle>
                    <img src="images/anonymity.jpg" alt="" class="img-circle img30_30">
                    <span class="hidden-xs">
                        <span data-i18n="Washington"></span>
						<span ng-show="user.user">({{user.user}})</span>
                    </span>
                </a>

                <ul class="pull-right dropdown-menu with-arrow">
                    <li>
                        <a href="#/pages/profile">
                            <i class="fa fa-user"></i>
                            <span data-i18n="My Profile"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/tasks/tasks">
                            <i class="fa fa-check"></i>
                            <span data-i18n="My Tasks"></span> <span class="badge badge-danger main-badge" data-ng-show="taskRemainingCount > 0">{{taskRemainingCount}}</span>
                        </a>
                    </li>
					<li>
                        <a href="#/pages/signin">
                            <i class="fa fa-sign-in"></i>
                            <span data-i18n="Log In"></span>
                        </a>
                    </li>
                    <li>
                        <a href="" ng-click="logout()">
                            <i class="fa fa-sign-out"></i>
                            <span data-i18n="Log Out"></span>
                        </a>
                    </li>
                </ul>
			</li>
            <li class="dropdown langs text-normal"  uib-dropdown on-toggle="toggled(open)">
                <a href class="dropdown-toggle active-flag" uib-dropdown-toggle>
                    <img src="images/images.png" alt="" class="img-circle img30_30">
                </a>
                <ul class="pull-right dropdown-menu with-arrow list-langs" role="menu">
                    <li>
                        <a href="javascript:;"> Empresa</a></li>
                    <li >
                        <a href="javascript:;"> Configuraçoes</a></li></li>
                </ul>
            </li>
            <li class="dropdown langs text-normal"  uib-dropdown on-toggle="toggled(open)">
                <a href class="dropdown-toggle active-flag" uib-dropdown-toggle>
                    <img src="images/yellow-alert.jpg" alt="" class="img-circle img30_30">
                </a>
                <ul class="pull-right dropdown-menu with-arrow list-langs" role="menu">
                    <<li>
                        <a href="#/tasks/tasks">
                            <i class="fa fa-check"></i>
                            <span data-i18n="Produtos abaixo Estoque"></span> <span class="badge badge-danger main-badge" data-ng-show="taskRemainingCount > 0">{{taskRemainingCount}}</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/tasks/tasks">
                            <i class="fa fa-check"></i>
                            <span data-i18n="Erro Emissão NFE"></span> <span class="badge badge-danger main-badge" data-ng-show="taskRemainingCount > 0">{{taskRemainingCount}}</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown hidden-xs" uib-dropdown on-toggle="toggled(open)">
                <a href="javascript:;" class="dropdown-toggle" uib-dropdown-toggle><i class="fa fa-cogs"></i></a>
                <div class="pull-right dropdown-menu with-arrow panel panel-default admin-options">
                    <div class="panel-heading"> Admin Options </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p>Layouts Style</p>
                            <label class="ui-radio"><input name="layout" type="radio" value="boxed" ng-model="admin.layout"><span>Boxed</span></label>
                            <label class="ui-radio"><input name="layout" type="radio" value="wide" ng-model="admin.layout"><span>Wide</span></label>
                        </li>
                        <li class="list-group-item">
                            <p>Menu Style</p>
                            <label class="ui-radio"><input name="menu" type="radio" value="vertical" ng-model="admin.menu"><span>Vertical</span></label>
                            <label class="ui-radio"><input name="menu" type="radio" value="horizontal" ng-model="admin.menu"><span>Horizontal</span></label>
                        </li>
                        <li class="list-group-item">
                            <p>Additional</p>
                            <label class="ui-checkbox"><input name="checkbox1" type="checkbox" value="option1" ng-model="admin.fixedHeader"><span>Fixed Top Header</span></label>
                            <br>
                            <label class="ui-checkbox"><input name="checkbox1" type="checkbox" value="option1" ng-model="admin.fixedSidebar"><span>Fixed Sidebar Menu</span></label>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#/" data-toggle-nav-collapsed-min class="toggle-min"><i class="fa fa-bars"></i></a>
            </li>
        </ul>
    </div>
</header>
