<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="dist/css/select2.css"/>
<script src="dist/js/select2.min.js"></script>

<style type="text/css">
  .wash {
        list-style: none;
        padding: 0;
        margin: 0;
        }
        .tabs-was {
        float: left;
        border: 1px solid #000;
        border-bottom-width: 0;
        margin: 3px 3px 0px 3px;
        padding: 5px 5px 0px 5px;
        background-color: #CCC;
        color: ##3767B9;
        }
        #mainView {
        border: 1px solid black;
        clear: both;
        }
        .active {
        background-color: #FFF;
        color: #000;
        }
        * {margin: 0; padding: 0; box-sizing: border-box;}
        .tabs-nav {padding: 20px 0 0; list-style: none;}
        .tabs-nav li {display: inline;}
        .tabs-nav a {
        display:inline-block;
        border: 1px solid #ddd;
        border-bottom: none;
        padding: 15px;
        cursor: pointer;
        border-radius: 5px 5px 0 0;
        font-size: 14px;
        color: #fff;
        background: #1B3975;
        }
        .tabs-nav .active {
        background: #fff;
        color: #000;
        border-bottom: 1px solid #fff;
        margin-bottom: -1px;
        }
        .tab-content {
        border: 1px solid #ddd;
        padding: 20px;
        }
        .tab-content1 {
        border: 1px solid #ddd;
        padding: 20px;
        }
        p {
        margin-bottom: 15px;
        }
</style>
<div ng-controller="OrdemServicoControllers as showCase">
  <table datatable dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="row-border hover">
    <tfoot>
      <tr>
        <th>ID
        </th>
        <th>Unidade Medida
        </th>
        <th>Abreviação
        </th>
      </tr>
    </tfoot>
  </table>
</div>
<div class="container">
  <script type="text/ng-template" id="cadOS.html">
    <div class="modal fade">
     <div class="modal-dialog" style="width : 80%">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
           <h4 class="modal-title">Cadastro Ordem Serviço</h4>
         </div>
         <div class="modal-body">
           <form  id="pdVendasForm">
            <div class="row">
                <div class="col-sm-6">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Cliente</label>
                            <input type="text" class="form-control col-sm-8 " ng-model="produto.precoVenda" name="precoVenda"  placeholder="Marca">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Técnico</label>
                            <input type="text" class="form-control col-sm-8 " ng-model="produto.precoVenda" name="precoVenda"  placeholder="Marca">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Situação da OS</label>
                                <input type="text" class="form-control col-sm-8 " ng-model="produto.precoVenda" name="precoVenda"  placeholder="Marca">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Data inicial</label>
                                <input type="text" class="form-control col-sm-8 " ng-model="produto.precoVenda" name="precoVenda"  placeholder="Marca">
                            </div>
                        </div>   
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Data final</label>
                                <input type="text" class="form-control col-sm-8 " ng-model="produto.precoVenda" name="precoVenda"  placeholder="Marca">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Data geral</label>
                                <input type="text" class="form-control col-sm-8 " ng-model="produto.precoVenda" name="precoVenda"  placeholder="Marca">
                            </div>
                        </div>   
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Dias de garantia</label>
                                <input type="text" class="form-control col-sm-8 " ng-model="produto.precoVenda" name="precoVenda"  placeholder="Marca">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Descrição do produto/serviço</label>
                                <input type="text" class="form-control col-sm-8 " ng-model="produto.precoVenda" name="precoVenda"  placeholder="Marca">
                            </div>
                        </div>   
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Defeito relatado</label>
                                <input type="text" class="form-control col-sm-8 " ng-model="produto.precoVenda" name="precoVenda"  placeholder="Marca">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Laudo técnico</label>
                                <input type="text" class="form-control col-sm-8 " ng-model="produto.precoVenda" name="precoVenda"  placeholder="Marca">
                            </div>
                        </div>   
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Observações gerais</label>
                                <input type="text" class="form-control col-sm-8 " ng-model="produto.precoVenda" name="precoVenda"  placeholder="Marca">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="container1" ng-app ng-init="tabs=4">
                        <ul class="tabs-nav">
                        <li><a ng-click="tabs=4" ng-class="{'active' : tabs==4}">Serviços</a></li>
                        <li><a ng-click="tabs=5" ng-class="{'active' : tabs==5}">Produtos</a></li>
                        </ul>
                        <div class="tabs-container1">
                            <div class="tab-content1" ng-show="tabs == 4">

                              <div class="row socios">
                                    <div class="col-sm-5">
                                        <label for="exampleInputPassword1">Serviço</label>
                                        <div class="row ">
                                          <select name="produto" class="col-sm-12">
                                                <option value="0">Instalação Ar Condicionado</option>
                                                <option value="1">Instalação Eletríca</option>
                                                <option value="2">Manutenção Rede Eletrica</option>
                                              </select>
                    </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Quant.</label>
                                            <input type="text" class="form-control nome-socio"  name="book[0].quantidade" placeholder="0.00" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Valor Uni.</label>
                                            <input type="text" class="form-control cota-socio"  name="book[0].vlUnitario" placeholder="R$0,00" />
                                        </div>
                                    </div>
                                    <div class="col-xs-1" style="margin-top:18px">
                                        <button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
                                    </div>
                            </div>
                                <div class="form-group hide" id="bookTemplate">
                                    <div class="row socios">
                                      <div class="col-sm-5">
                                          <label for="exampleInputPassword1">Serviço</label>
                                          <div class="row ">
                                            <select name="produto" class="col-sm-12">
                                                <option value="0">Instalação Ar Condicionado</option>
                                                <option value="1">Instalação Eletríca</option>
                                                <option value="2">Manutenção Rede Eletrica</option>
                                              </select>
                                            </div>
                                      </div>
                                      <div class="col-sm-2">
                                          <div class="form-group">
                                              <label for="exampleInputPassword1">Quant.</label>
                                              <input type="text" class="form-control nome-socio"  name="quantidade" placeholder="0.00" />
                                          </div>
                                      </div>
                                      <div class="col-sm-3">
                                          <div class="form-group">
                                              <label for="exampleInputPassword1">Valor Uni.</label>
                                              <input type="text" class="form-control cota-socio"  name="vlUnitario" placeholder="R$0,00" />
                                          </div>
                                      </div>
                                      <div class="col-xs-1" style="margin-top:18px">
                                          <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
                                      </div>
                                  </div>
                              </div>
                              
                            </div>
                            <div class="tab-content1" ng-show="tabs == 5">
                            
                            <div class="row socios">
                                    <div class="col-sm-5">
                                        <label for="exampleInputPassword1">Produto</label>
                                        <div class="row ">
                                          <select name="produto" class="col-sm-12">
                                                <option value="0">1010 - Coca Cola 1LT</option>
                                                <option value="1">1011 - Coca Cola 1.5LT</option>
                                                <option value="2">Cadastrar novo Produto</option>
                                              </select>
                    </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Quant.</label>
                                            <input type="text" class="form-control nome-socio"  name="book[0].quantidade" placeholder="0.00" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Valor Uni.</label>
                                            <input type="text" class="form-control cota-socio"  name="book[0].vlUnitario" placeholder="R$0,00" />
                                        </div>
                                    </div>
                                    <div class="col-xs-1" style="margin-top:18px">
                                        <button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
                                    </div>
                            </div>
                                <div class="form-group hide" id="bookTemplate">
                                    <div class="row socios">
                                      <div class="col-sm-5">
                                          <label for="exampleInputPassword1">Produto</label>
                                          <div class="row ">
                                            <select name="produto" class="col-sm-12">
                                                <option value="0">1010 - Coca Cola 1LT</option>
                                                <option value="1">1011 - Coca Cola 1.5LT</option>
                                                <option value="2">Cadastrar novo Produto</option>
                                              </select>
                                            </div>
                                      </div>
                                      <div class="col-sm-2">
                                          <div class="form-group">
                                              <label for="exampleInputPassword1">Quant.</label>
                                              <input type="text" class="form-control nome-socio"  name="quantidade" placeholder="0.00" />
                                          </div>
                                      </div>
                                      <div class="col-sm-3">
                                          <div class="form-group">
                                              <label for="exampleInputPassword1">Valor Uni.</label>
                                              <input type="text" class="form-control cota-socio"  name="vlUnitario" placeholder="R$0,00" />
                                          </div>
                                      </div>
                                      <div class="col-xs-1" style="margin-top:18px">
                                          <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
                                      </div>
                                  </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>

              </div>
           </form>
         </div>
         <div class="modal-footer">
           <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
           <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Gravar</button>
         </div>
       </div>
     </div>
    </div>
  </script>
</div>




<div class="container">
  <script type="text/ng-template" id="cfopDelete.html">
    <div class="modal fade">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
           <h4 class="modal-title">Deletar</h4>
         </div>
         <div class="modal-body">
            <p>Deseja Realmente EXCLUIR ID : 1001 </p>
         </div>
         <div class="modal-footer">
           <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Sim</button>
           <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Não</button>
         </div>
       </div>
     </div>
    </div>
  </script>
</div>
