<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="dist/css/select2.css"/>
<script src="dist/js/select2.min.js"></script>
<div ng-controller="FuncionarioController as showCase">
    <table datatable dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="row-border hover">
      <tfoot>
        <tr>
            <th>ID
            </th><th>First Name
            </th><th>Last Name
            </th><th>Last Name
            </th><th>Last Name
            </th><th>Last Name
            </th><th>Last Name
            </th><th>Last Name
            </th><th>Last Name
        </th></tr>
        </tfoot>
    </table>


    <div ng-controller="WithResponsiveCtrl as showCase">
    <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="row-border hover" width="100%"></table>
</div>

    <div class="container">
           <script type="text/ng-template" id="banco.html">
               <div class="modal fade">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">Cadastro Funcionario</h4>
                    </div>
                    <div class="modal-body">
                      <form  id="empresaForm">
                          <div class="row">
                              <div class="row">
                                  <div class="form-group col-sm-6">
                                      <label for="exampleInputEmail1">Nome</label>
                                      <input type="text"  ng-model="cfop.cfop" name="cfop" class="form-control" placeholder="Nome">
                                  </div>

                                  <div class="form-group col-sm-3">
                                      <label for="exampleInputEmail1">CPF</label>
                                      <input type="text"  ng-model="cfop.cfop" name="cfop" class="form-control" placeholder="CPF">
                                  </div>
                                  <div class="form-group">
                                      <label for="exampleInputEmail1">RG</label>
                                      <input type="text" class="form-control" ng-model="cfop.descricao" name="descricao" placeholder="RG">
                                  </div>
                               </div>
                               <div class="row">
                                  <div class="form-group col-sm-2">
                                      <label for="exampleInputEmail1">Nº Cart. Trab</label>
                                      <input type="text"  ng-model="cfop.cfop" name="cfop" class="form-control" placeholder="Nº Cart. Trab">
                                  </div>

                                  <div class="form-group col-sm-2">
                                      <label for="exampleInputEmail1">Data Nascimento</label>
                                      <input type="text"  ng-model="cfop.cfop" name="cfop" class="form-control" placeholder="DD/MM/AAAA">
                                  </div>
                                  <div class="form-group col-sm-2">
                                      <label for="exampleInputEmail1">Carga Horaria</label>
                                      <input type="text"  ng-model="cfop.cfop" name="cfop" class="form-control" placeholder="Carga Horaria">
                                  </div>
                                  <div class="form-group col-sm-6">
                                      <label for="exampleInputEmail1">Horarios</label>
                                      <div class="row">
                                      		<input type="text" class="form-control col-sm-3" ng-model="cfop.descricao" name="descricao" placeholder="Entrada">
                                      		<input type="text" class="form-control col-sm-3" ng-model="cfop.descricao" name="descricao" placeholder="Saida">
                                      		<input type="text" class="form-control col-sm-3" ng-model="cfop.descricao" name="descricao" placeholder="Entrada">
                                      		<input type="text" class="form-control col-sm-3" ng-model="cfop.descricao" name="descricao" placeholder="Saida">
                                      </div>
                                  </div>
                               </div>
                               <div class="row">
                                  <div class="form-group col-sm-3">
                                      <label for="exampleInputEmail1">Cargo</label>
                                      <div>
	                                          <select id="unidTributada" name="unidTributada"  ng-model="cfop.natureza" class="col-sm-12">
	                                              <option value="01">Gerente</option>
	                                              <option value="02">Supervisor</option>
	                                              <option value="03">Auxiliar de Produção</option>
	                                          </select>
                                      </div>
                                  </div>

                                  <div class="form-group col-sm-3">
                                      <label for="exampleInputEmail1">Salario</label>
                                      <input type="text"  ng-model="cfop.cfop" name="cfop" class="form-control" placeholder="Jornada Trabalho">
                                  </div>
                                  <div class="form-group col-sm-2">
                                      <label for="exampleInputEmail1">Data Admissão</label>
                                      <div class="row">
                                      		<input type="text" class="form-control col-sm-3" ng-model="cfop.descricao" name="descricao" placeholder="Entrada">
                                      </div>
                                  </div>
                                  <div class="form-group col-sm-2">
                                      <label for="exampleInputEmail1">Data Demissão</label>
                                      <div class="row">
                                      		<input type="text" class="form-control col-sm-3" ng-model="cfop.descricao" name="descricao" placeholder="Entrada">
                                      </div>
                                  </div>
                                  <div class="form-group col-sm-2">
                                      <label for="exampleInputEmail1">Sexo</label>
                                      <div>
	                                          <select id="unidTributada" name="unidTributada"  ng-model="cfop.natureza" class="col-sm-12">
	                                              <option value="01">Maculino</option>
	                                              <option value="02">Feminino</option>
	                                          </select>
                                      </div>
                                  </div>
                               </div>
                               <div class="row">
                                  <div class="form-group col-sm-3">
                                      <label for="exampleInputEmail1">Estado Civil</label>
                                      <div>
	                                          <select id="unidTributada" name="unidTributada"  ng-model="cfop.natureza" class="col-sm-12">
	                                              <option value="01">Casado</option>
	                                              <option value="02">Solteiro</option>
	                                              <option value="03">Divorciado</option>
	                                          </select>
                                      </div>
                                  </div>

                                  <div class="form-group col-sm-3">
                                      <label for="exampleInputEmail1">Quant. Filhos</label>
                                      <input type="text"  ng-model="cfop.cfop" name="cfop" class="form-control" placeholder="Jornada Trabalho">
                                  </div>
                               </div>
                               <div class="row">
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Nome Filho</label>
                                            <input type="text" class="form-control cpf-socio"  name="book[0].cpf" placeholder="CPF Socio" />
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">RG</label>
                                            <input type="text" class="form-control nome-socio"  name="book[0].nome" placeholder="Nome Socio" />
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Cartão Vacina</label>
                                            <input type="text" class="form-control cota-socio"  name="book[0].cota" placeholder="%" />
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Data Nascimento</label>
                                            <input type="text" class="form-control cota-socio"  name="book[0].cota" placeholder="%" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3" style="margin-top:18px">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="receiver" class="check-socio" value="1" /> Vacinas em dia ?
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-1" style="margin-top:18px">
                                        <button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
                                    </div>
                           		</div>
                                <div class="form-group hide" id="bookTemplate">
                                    <div class="row ">
	                                    <div class="col-sm-2">
	                                        <div class="form-group">
	                                            <label for="exampleInputPassword1">Nome Filho</label>
	                                            <input type="text" class="form-control cpf-socio"  name="book[0].cpf" placeholder="CPF Socio" />
	                                        </div>
	                                    </div>
	                                    <div class="col-sm-2">
	                                        <div class="form-group">
	                                            <label for="exampleInputPassword1">RG</label>
	                                            <input type="text" class="form-control nome-socio"  name="book[0].nome" placeholder="Nome Socio" />
	                                        </div>
	                                    </div>
	                                    <div class="col-sm-2">
	                                        <div class="form-group">
	                                            <label for="exampleInputPassword1">Cartão Vacina</label>
	                                            <input type="text" class="form-control cota-socio"  name="book[0].cota" placeholder="%" />
	                                        </div>
	                                    </div>
	                                    <div class="col-sm-2">
	                                        <div class="form-group">
	                                            <label for="exampleInputPassword1">Data Nascimento</label>
	                                            <input type="text" class="form-control cota-socio"  name="book[0].cota" placeholder="%" />
	                                        </div>
	                                    </div>
	                                    <div class="col-sm-3" style="margin-top:18px">
	                                        <div class="checkbox">
	                                            <label>
	                                                <input type="checkbox" name="receiver" class="check-socio" value="1" /> Vacinas em dia ?
	                                            </label>
	                                        </div>
	                                    </div>
	                                    <div class="col-xs-1" style="margin-top:18px">
	                                        <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
	                                    </div>
                                	</div>
                            	</div>
                            	<div class="row">
                                    <div class="col-sm-6">
                                    <label for="exampleInputPassword1">CEP</label>
                                        <div class="input-group">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="cep" ng-model="empresa.enderecos[0].cep">
                                            </div>
                                            <span class="input-group-btn">

                                                <button class="btn btn-default" type="button" ng-click="cc.buscaRCep('38082243')"><i class="glyphicon glyphicon-search"> </i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Logradouro</label>
                                            <input type="text" class="form-control col-sm-8" name="logradouro" ng-model="empresa.enderecos[0].logradouro" placeholder="Logradouro">
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Numero</label>
                                            <input type="text" class="form-control col-sm-4" name="numero" ng-model="empresa.enderecos[0].numero" placeholder="Numero">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="exampleInputPassword1">Complemento</label>
                                        <input type="text" class="form-control col-sm-8" name="complemento" ng-model="empresa.enderecos[0].complemento" placeholder="Complemento">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="exampleInputPassword1">Bairro</label>
                                        <input type="text" class="form-control col-sm-4" ng-model="empresa.enderecos[0].bairro" placeholder="Bairro">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label for="exampleInputPassword1">Estado</label>
                                        <input type="text" class="form-control col-sm-8" ng-model="empresa.enderecos[0].estado.abreviacao" placeholder="Estado">
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="exampleInputPassword1">Municipio</label>
                                        <input type="text" class="form-control col-sm-4" ng-model="empresa.enderecos[0].cidade.nome" placeholder="Municipio">
                                    </div>

                                    <div class="col-sm-4">
                                        <label for="exampleInputPassword1">Codigo IBGE</label>
                                        <input type="text" class="form-control col-sm-4" ng-model="empresa.enderecos[0].codIbge" placeholder="Codigo IBGE">
                                    </div>
                                </div>
                                <!-- -------------------  TELEFONE ----------------- -->
                                <div class="row">

                                    <div class="col-sm-4" style="margin-top:25px">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Adicionar <span class="caret"></span></button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="javascript:;" class="addPhoneButton" data-name="phone_home">Residencial</a></li>
                                                <li><a href="javascript:;" class="addPhoneButton" data-name="phone_office">Celular TIM</a></li>
                                                <li><a href="javascript:;" class="addPhoneButton" data-name="phone_office">Celular OI</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="exampleInputPassword1" class="control-label" >Telefone</label>
                                        <input type="text" class="form-control col-sm-4 gugu" name="phone" placeholder="Telefone">
                                    </div>
                                </div>
                                <!-- Template for dynamic field -->
                                <div class="row" id="template" style="display: none;">

                                    <div class="col-sm-4" style="margin-top:25px">
                                        <button type="button" class="btn btn-link removeButton">deletar</button>
                                    </div>
                                    <div class="col-sm-4">
                                    <label  for="exampleInputPassword1" class="control-label">Telefone</label>
                                        <input id='gugu' type="text" class="form-control col-sm-4 gugu"  placeholder="Telefone">
                                    </div>
                                </div>

                                <!-- ------------------------------------- --><!-- ------------------------------------- -->

                                <!-- -------------------  Email Empresa ----------------- -->
                                <div class="row">
                                    <div class="col-sm-4">
                                    <label for="exampleInputPassword1">Email</label>
                                        <input type="text" class="form-control col-sm-4 input-email" name="email" placeholder="Email">
                                    </div>
                                    <div class="col-sm-4" style="margin-top:25px">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Adicionar <span class="caret"></span></button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="javascript:;" class="addEmailButton" data-name="email_princ">Principal</a></li>
                                                <li><a href="javascript:;" class="addEmailButton" data-name="email_home">Outro</a></li>
                                                <li><a href="javascript:;" class="addEmailButton" data-name="email_office">Trabalho</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Template for dynamic field -->
                                <div class="row" id="template-email" style="display: none;">
                                    <div class="col-sm-4">
                                    <label for="exampleInputPassword1" class="control-label">Email</label>
                                        <input type="email" class="form-control col-sm-4 input-email"  placeholder="Email">
                                    </div>
                                    <div class="col-sm-4" style="margin-top:25px">
                                        <button type="button" class="btn btn-link removeButton">deletar</button>
                                    </div>
                                </div>

                                <!-- ------------------------------------- --><!-- ------------------------------------- -->
                          </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                      <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Gravar</button>
                    </div>
                  </div>
                </div>
              </div>
           </script>

      </div>

      <div class="container">
           <script type="text/ng-template" id="cfopDelete.html">
               <div class="modal fade">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">Deletar</h4>
                    </div>
                    <div class="modal-body">
                        <p>Deseja Realmente EXCLUIR ID : 1001 </p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Sim</button>
                      <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Não</button>
                    </div>
                  </div>
                </div>
              </div>
           </script>

      </div>
</div>