<section class="panel panel-default" data-ng-controller="SparkLineController">
            <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Movimento Caixa</div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Historico</th>
                        <th>Data</th>
                        <th>Valor</th>
                        <th>Motivo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span data-sparkline
                                  data-data="simpleChart2.data"
                                  data-options="simpleChart2.options"
                                  ></span>
                        </td>
                        <td>01/06/2016</td>
                        <td>R$ 50,00</td>
                        <td>Pagamento Promissoria N° 55001</td>
                    </tr>
                    <tr>
                        <td>
                            <span data-sparkline
                                  data-data="simpleChart2.data"
                                  data-options="simpleChart2.options"
                                  ></span>
                        </td>
                        <td>02/06/2016</td>
                        <td>R$ 50,00</td>
                        <td>Pagamento Promissoria N° 55001</td>
                    </tr><tr>
                        <td>
                            <span data-sparkline
                                  data-data="simpleChart2.data"
                                  data-options="simpleChart2.options"
                                  ></span>
                        </td>
                        <td>03/06/2016</td>
                        <td>R$ 50,00</td>
                        <td>Pagamento Promissoria N° 55001</td>
                    </tr><tr>
                        <td>
                            <span data-sparkline
                                  data-data="simpleChart2.data"
                                  data-options="simpleChart2.options"
                                  ></span>
                        </td>
                        <td>04/06/2016</td>
                        <td>R$ 50,00</td>
                        <td>Pagamento Promissoria N° 55001</td>
                    </tr>
                </tbody>
            </table>
        </section>


        <section class="panel panel-default" data-ng-controller="SparkLineController">
            <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Totais</div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Historico</th>
                        <th>Data</th>
                        <th>Valor no Caixa Agora</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span data-sparkline
                                  data-data="simpleChart2.data"
                                  data-options="simpleChart2.options"
                                  ></span>
                        </td>
                        <td>17/06/2016</td>
                        <td>R$ 10.505,00</td>
                    </tr>
                </tbody>
            </table>
        </section>