<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="dist/css/formValidation.css"/>
<link rel="stylesheet" href="dist/css/select2.css"/>
<script src="dist/js/select2.min.js"></script>
<script src="dist/js/formValidation.js"></script>
<script src="dist/js/framework/bootstrap.js"></script>
<div ng-controller="ContasPagarController as showCase">
    <table datatable dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="row-border hover">
        <tfoot>
        <tr>
            <th>ID
            </th><th>First Name
            </th><th>Last Name
            </th><th>
            <select id="financeiro_cod_tipoDoc" name="financeiro_cod_tipoDoc">
                <option value="0"></option>
                <option value="1">Dinheiro</option>
                <option value="2">Cheque</option>
                <option value="3">Boleto</option>
                <option value="4">Cartão Crédito</option>
                <option value="5">Cartão Débito</option>
                <option value="6">Duplicata</option>
                <option value="7">Carnê</option>
                <option value="8">Transf. Eletrônica</option>
                <option value="9">Crédito Loja</option>
                <option value="10">Vale Alimentação</option>
                <option value="11">Vale Refeição</option>
                <option value="12">Vale Presente</option>
                <option value="13">Vale Combustível</option>
                <option value="14">Sem documento</option>
            </select>
            </th><th>Last Name
            </th><th>Last Name
            </th><th>Last Name
            </th><th>Last Name
            </th><th>Last Name
        </th></tr>
        </tfoot>
    </table>

    <div class="container">
                 <script type="text/ng-template" id="contasPagar.html">
                     <div class="modal fade">
                      <div class="modal-dialog" style="width : 70%">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Cadastro CFOP</h4>
                          </div>
                          <div class="modal-body">
                            <form  id="empresaForm">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label for="exampleInputPassword1">Fornecedor</label>
                                                <div class="row ">
                                                    <select id="financeiro_cod_tipoDoc" class="col-sm-12" name="financeiro_cod_tipoDoc">
                                                        <option value="1">1001 - Tyrion Lannister</option>
                                                        <option value="2">1002 - Jaime Lannister</option>
                                                        <option value="3">1003 - Cersei Lannister</option>
                                                        <option value="4">1004 - Daenerys Targaryen</option>
                                                        <option value="5">1005 - Jon Snow</option>
                                                        <option value="6">1006 - Jorah Mormont</option>
                                                        <option value="7">1007 - Sansa Stark</option>
                                                        <option value="8">1008 - Arya Stark</option>
                                                        <option value="9">1009 - Theon Greyjoy/Fedor</option>
                                                        <option value="10">1010 - Brandon "Bran" Stark</option>
                                                        <option value="11">1011 - Sandor Clegane</option>
                                                        <option value="12">1012 - Joffrey Baratheon</option>
                                                        <option value="13">1013 - Robb Stark</option>
                                                        <option value="14">1014 - Khal Drogo</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="exampleInputEmail1">Descrição</label>
                                                <input type="text"  ng-model="cfop.cfop" name="cfop" class="form-control" placeholder="Descrição">
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="form-group col-sm-3">
                                                <label for="exampleInputPassword1">Tipo de documento</label>
                                                <div class="row ">
                                                <select id="financeiro_cod_tipoDoc" class="col-sm-12" name="financeiro_cod_tipoDoc">
                                                    <option value="0"></option>
                                                    <option value="1">Dinheiro</option>
                                                    <option value="2">Cheque</option>
                                                    <option value="3">Boleto</option>
                                                    <option value="4">Cartão Crédito</option>
                                                    <option value="5">Cartão Débito</option>
                                                    <option value="6">Duplicata</option>
                                                    <option value="7">Carnê</option>
                                                    <option value="8">Transf. Eletrônica</option>
                                                    <option value="9">Crédito Loja</option>
                                                    <option value="10">Vale Alimentação</option>
                                                    <option value="11">Vale Refeição</option>
                                                    <option value="12">Vale Presente</option>
                                                    <option value="13">Vale Combustível</option>
                                                    <option value="14">Sem documento</option>
                                                </select>
                                            </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="fileToUpload">Anexar Documento</label>
                                                <input type="file" name="fileToUpload" id="fileToUpload" onchange="fileSelected();"/>
                                                <div id="fileName"></div>
                                                <div id="fileSize"></div>
                                                <div id="fileType"></div>
                                                <input type="button" onclick="uploadFile()" value="Upload" />
                                                <div id="progressNumber"></div>
                                            </div>

                                            <div class="form-group col-sm-3">
                                                <label for="exampleInputEmail1">Data do lançamento</label>
                                                <input type="text"  ng-model="cfop.cfop" name="cfop" class="form-control" placeholder="Data do lançamento">
                                            </div>

                                            
                                         </div>
                                         <div class="row col-sm-12">
                                            <div class="form-group col-sm-6">
                                                <label for="exampleInputEmail1">Observações</label>
                                                <input type="email" id='email' class="form-control" ng-model="cfop.icms" name="email" placeholder="Observações">
                                            </div>
                                            <div class="form-group col-sm-3">
                                                <label for="exampleInputPassword1">Valor cobrado</label>
                                                <input type="password" class="form-control" ng-model="cfop.icmsReduzido" name="password" placeholder="Valor cobrado">
                                            </div>
                                            <div class="row col-sm-3">
                                                <div class="form-group">
                                                <label for="exampleInputEmail1">Data de vencimento</label>
                                                <input type="text" class="form-control" ng-model="cfop.descricao" name="descricao" placeholder="Data de vencimento">
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="row col-sm-12">
                                            <div class="form-group col-sm-3">
                                                <label for="exampleInputPassword1">Nro. do documento</label>
                                                <input type="password" class="form-control" ng-model="cfop.icmsReduzido" name="password" placeholder="Nro. do documento">
                                            </div>
                                            <div class="form-group col-sm-3">
                                                <label for="exampleInputPassword1">Conta de origem</label>
                                                <div class="row ">
                                                    <select id="financeiro_cod_tipoDoc" class="col-sm-12" name="financeiro_cod_tipoDoc">
                                                        <option value="0"></option>
                                                        <option value="1">Caixa Interno</option>
                                                    </select>
                                                </div>
                                            </div>
                                             <div class="form-group col-sm-3">
                                                <label for="exampleInputPassword1">Cadastrar mais de uma vez</label>
                                                <div class="row ">
                                                    <select id="financeiro_cadXVezes" class="col-sm-12" name="financeiro_cadXVezes" autocomplete="off">
                                                        <option value="1" selected="selected">Apenas uma vez</option>
                                                        <option value="2">2 vezes ao todo</option>
                                                        <option value="3">3 vezes ao todo</option>
                                                        <option value="4">4 vezes ao todo</option>
                                                        <option value="5">5 vezes ao todo</option>
                                                        <option value="6">6 vezes ao todo</option>
                                                        <option value="7">7 vezes ao todo</option>
                                                        <option value="8">8 vezes ao todo</option>
                                                        <option value="9">9 vezes ao todo</option>
                                                        <option value="10">10 vezes ao todo</option>
                                                        <option value="11">11 vezes ao todo</option>
                                                        <option value="12">12 vezes ao todo</option>
                                                        <option value="13">13 vezes ao todo</option>
                                                        <option value="14">14 vezes ao todo</option>
                                                        <option value="15">15 vezes ao todo</option>
                                                        <option value="16">16 vezes ao todo</option>
                                                        <option value="17">17 vezes ao todo</option>
                                                        <option value="18">18 vezes ao todo</option>
                                                        <option value="19">19 vezes ao todo</option>
                                                        <option value="20">20 vezes ao todo</option>
                                                        <option value="21">21 vezes ao todo</option>
                                                        <option value="22">22 vezes ao todo</option>
                                                        <option value="23">23 vezes ao todo</option>
                                                        <option value="24">24 vezes ao todo</option>
                                                        <option value="25">25 vezes ao todo</option>
                                                        <option value="26">26 vezes ao todo</option>
                                                        <option value="27">27 vezes ao todo</option>
                                                        <option value="28">28 vezes ao todo</option>
                                                        <option value="29">29 vezes ao todo</option>
                                                        <option value="30">30 vezes ao todo</option>
                                                        <option value="31">31 vezes ao todo</option>
                                                        <option value="32">32 vezes ao todo</option>
                                                        <option value="33">33 vezes ao todo</option>
                                                        <option value="34">34 vezes ao todo</option>
                                                        <option value="35">35 vezes ao todo</option>
                                                        <option value="36">36 vezes ao todo</option>
                                                        <option value="37">37 vezes ao todo</option>
                                                        <option value="38">38 vezes ao todo</option>
                                                        <option value="39">39 vezes ao todo</option>
                                                        <option value="40">40 vezes ao todo</option>
                                                        <option value="41">41 vezes ao todo</option>
                                                        <option value="42">42 vezes ao todo</option>
                                                        <option value="43">43 vezes ao todo</option>
                                                        <option value="44">44 vezes ao todo</option>
                                                        <option value="45">45 vezes ao todo</option>
                                                        <option value="46">46 vezes ao todo</option>
                                                        <option value="47">47 vezes ao todo</option>
                                                        <option value="48">48 vezes ao todo</option>
                                                        <option value="49">49 vezes ao todo</option>
                                                        <option value="50">50 vezes ao todo</option>
                                                        <option value="51">51 vezes ao todo</option>
                                                        <option value="52">52 vezes ao todo</option>
                                                        <option value="53">53 vezes ao todo</option>
                                                        <option value="54">54 vezes ao todo</option>
                                                        <option value="55">55 vezes ao todo</option>
                                                        <option value="56">56 vezes ao todo</option>
                                                        <option value="57">57 vezes ao todo</option>
                                                        <option value="58">58 vezes ao todo</option>
                                                        <option value="59">59 vezes ao todo</option>
                                                        <option value="60">60 vezes ao todo</option>
                                                        <option value="61">61 vezes ao todo</option>
                                                        <option value="62">62 vezes ao todo</option>
                                                        <option value="63">63 vezes ao todo</option>
                                                        <option value="64">64 vezes ao todo</option>
                                                        <option value="65">65 vezes ao todo</option>
                                                        <option value="66">66 vezes ao todo</option>
                                                        <option value="67">67 vezes ao todo</option>
                                                        <option value="68">68 vezes ao todo</option>
                                                        <option value="69">69 vezes ao todo</option>
                                                        <option value="70">70 vezes ao todo</option>
                                                        <option value="71">71 vezes ao todo</option>
                                                        <option value="72">72 vezes ao todo</option>
                                                        <option value="73">73 vezes ao todo</option>
                                                        <option value="74">74 vezes ao todo</option>
                                                        <option value="75">75 vezes ao todo</option>
                                                        <option value="76">76 vezes ao todo</option>
                                                        <option value="77">77 vezes ao todo</option>
                                                        <option value="78">78 vezes ao todo</option>
                                                        <option value="79">79 vezes ao todo</option>
                                                        <option value="80">80 vezes ao todo</option>
                                                        <option value="81">81 vezes ao todo</option>
                                                        <option value="82">82 vezes ao todo</option>
                                                        <option value="83">83 vezes ao todo</option>
                                                        <option value="84">84 vezes ao todo</option>
                                                        <option value="85">85 vezes ao todo</option>
                                                        <option value="86">86 vezes ao todo</option>
                                                        <option value="87">87 vezes ao todo</option>
                                                        <option value="88">88 vezes ao todo</option>
                                                        <option value="89">89 vezes ao todo</option>
                                                        <option value="90">90 vezes ao todo</option>
                                                        <option value="91">91 vezes ao todo</option>
                                                        <option value="92">92 vezes ao todo</option>
                                                        <option value="93">93 vezes ao todo</option>
                                                        <option value="94">94 vezes ao todo</option>
                                                        <option value="95">95 vezes ao todo</option>
                                                        <option value="96">96 vezes ao todo</option>
                                                        <option value="97">97 vezes ao todo</option>
                                                        <option value="98">98 vezes ao todo</option>
                                                        <option value="99">99 vezes ao todo</option>
                                                        <option value="100">100 vezes ao todo</option>
                                                        <option value="101">101 vezes ao todo</option>
                                                        <option value="102">102 vezes ao todo</option>
                                                        <option value="103">103 vezes ao todo</option>
                                                        <option value="104">104 vezes ao todo</option>
                                                        <option value="105">105 vezes ao todo</option>
                                                        <option value="106">106 vezes ao todo</option>
                                                        <option value="107">107 vezes ao todo</option>
                                                        <option value="108">108 vezes ao todo</option>
                                                        <option value="109">109 vezes ao todo</option>
                                                        <option value="110">110 vezes ao todo</option>
                                                        <option value="111">111 vezes ao todo</option>
                                                        <option value="112">112 vezes ao todo</option>
                                                        <option value="113">113 vezes ao todo</option>
                                                        <option value="114">114 vezes ao todo</option>
                                                        <option value="115">115 vezes ao todo</option>
                                                        <option value="116">116 vezes ao todo</option>
                                                        <option value="117">117 vezes ao todo</option>
                                                        <option value="118">118 vezes ao todo</option>
                                                        <option value="119">119 vezes ao todo</option>
                                                        <option value="120">120 vezes ao todo</option>
                                                        <option value="121">121 vezes ao todo</option>
                                                        <option value="122">122 vezes ao todo</option>
                                                        <option value="123">123 vezes ao todo</option>
                                                        <option value="124">124 vezes ao todo</option>
                                                        <option value="125">125 vezes ao todo</option>
                                                        <option value="126">126 vezes ao todo</option>
                                                        <option value="127">127 vezes ao todo</option>
                                                        <option value="128">128 vezes ao todo</option>
                                                        <option value="129">129 vezes ao todo</option>
                                                        <option value="130">130 vezes ao todo</option>
                                                        <option value="131">131 vezes ao todo</option>
                                                        <option value="132">132 vezes ao todo</option>
                                                        <option value="133">133 vezes ao todo</option>
                                                        <option value="134">134 vezes ao todo</option>
                                                        <option value="135">135 vezes ao todo</option>
                                                        <option value="136">136 vezes ao todo</option>
                                                        <option value="137">137 vezes ao todo</option>
                                                        <option value="138">138 vezes ao todo</option>
                                                        <option value="139">139 vezes ao todo</option>
                                                        <option value="140">140 vezes ao todo</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-3">
                                                <label for="exampleInputPassword1">Repetir no seguinte intervalo</label>
                                                <div class="row">
                                                    <select id="financeiro_repetirIntervalo" class="col-sm-12" name="financeiro_repetirIntervalo" autocomplete="off">
                                                        <option value="0">Sem intervalo</option>
                                                        <option value="1">Dias</option>
                                                        <option value="2">Semanas</option>
                                                        <option value="3" >Quinzenas</option>
                                                        <option value="4" selected="selected">Meses</option>
                                                        <option value="5">Bimestres</option>
                                                        <option value="6">Trimestres</option>
                                                        <option value="7">Semestres</option>
                                                        <option value="8">Anos</option>
                                                    </select>
                                                </div>
                                            </div>
                                            </div>
                                            <div class="row">
                                            <div class="form-group col-sm-6">
                                                <label for="exampleInputPassword1">Valor do pagamento</label>
                                                <input type="password" ng-disabled="true" class="form-control" ng-model="cfop.icmsReduzido" name="password" placeholder="R$0,00">
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="exampleInputPassword1">Data do pagamento</label>
                                                 <input type="password" ng-disabled="true" class="form-control" ng-model="cfop.icmsReduzido" name="password" placeholder="R$0,00">
                                            </div>
                                            </div>   
                                                                  
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Gravar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                 </script>

            </div>

            <div class="container">
                 <script type="text/ng-template" id="baixar.html">
                     <div class="modal fade">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Baixar Contas Pagar</h4>
                          </div>
                          <div class="modal-body">
                                <div class="row ">
                                    <div class="form-group col-sm-4">
                                        <label for="exampleInputPassword1">Tipo de documento</label>
                                        <div class="row ">
                                        <select id="financeiro_cod_tipoDoc" ng-disabled="true" class="col-sm-12" name="financeiro_cod_tipoDoc">
                                            <option value="0"></option>
                                            <option value="1">Dinheiro</option>
                                            <option value="2">Cheque</option>
                                            <option value="3" selected="selected" >Boleto</option>
                                            <option value="4">Cartão Crédito</option>
                                            <option value="5">Cartão Débito</option>
                                            <option value="6">Duplicata</option>
                                            <option value="7">Carnê</option>
                                            <option value="8">Transf. Eletrônica</option>
                                            <option value="9">Crédito Loja</option>
                                            <option value="10">Vale Alimentação</option>
                                            <option value="11">Vale Refeição</option>
                                            <option value="12">Vale Presente</option>
                                            <option value="13">Vale Combustível</option>
                                            <option value="14">Sem documento</option>
                                        </select>
                                    </div>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label for="exampleInputPassword1">Valor cobrado</label>
                                        <input type="password" ng-disabled="true" class="form-control" ng-model="cfop.icmsReduzido" name="password" placeholder="Valor cobrado">
                                    </div>
                                    <div class="row col-sm-4">
                                        <div class="form-group">
                                        <label for="exampleInputEmail1">Data de vencimento</label>
                                        <input type="text" ng-disabled="true" class="form-control" ng-model="cfop.descricao" name="descricao" placeholder="Data de vencimento">
                                        </div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="form-group col-sm-4">
                                        <label for="exampleInputPassword1">Conta de origem</label>
                                        <div class="row ">
                                            <select id="financeiro_cod_tipoDoc" class="col-sm-12" name="financeiro_cod_tipoDoc">
                                                <option value="0"></option>
                                                <option value="1" selected="selected">Caixa Interno</option>
                                                <option value="2">Banco Conta001</option>
                                                <option value="3">Banco Conta002</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label for="exampleInputPassword1">Valor do PAGO</label>
                                        <input type="password"  class="form-control" ng-model="cfop.icmsReduzido" name="password" placeholder="R$0,00">
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label for="exampleInputPassword1">Valor JUROS</label>
                                         <input type="password"  class="form-control" ng-model="cfop.icmsReduzido" name="password" placeholder="R$0,00">
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="form-group col-sm-4">
                                        <label for="exampleInputPassword1">Valor MULTA</label>
                                        <input type="password" class="form-control" ng-model="cfop.icmsReduzido" name="password" placeholder="R$0,00">
                                    </div>
                                
                                    <div class="form-group col-sm-4">
                                        <label for="exampleInputPassword1">Valor SEGURO</label>
                                         <input type="password"  class="form-control" ng-model="cfop.icmsReduzido" name="password" placeholder="R$0,00">
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label for="exampleInputPassword1">OUTRO Valor</label>
                                         <input type="password"  class="form-control" ng-model="cfop.icmsReduzido" name="password" placeholder="R$0,00">
                                    </div>
                                </div>      
                          </div>
                          <div class="modal-footer">
                            <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Baixar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                 </script>

            </div>
            <div class="container">
                 <script type="text/ng-template" id="deletar.html">
                     <div class="modal fade">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Deletar</h4>
                          </div>
                          <div class="modal-body">
                                <p>Deseja Realmente EXCLUIR ID : 1001 </p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Sim</button>
                            <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Não</button>
                          </div>
                        </div>
                      </div>
                    </div>
                 </script>

            </div>
</div>
<script>
  
function fileSelected() {
  var file = document.getElementById('fileToUpload').files[0];
  if (file) {
    var fileSize = 0;
    if (file.size > 1024 * 1024)
      fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
    else
      fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';
          
    document.getElementById('fileName').innerHTML = 'Name: ' + file.name;
    document.getElementById('fileSize').innerHTML = 'Size: ' + fileSize;
    document.getElementById('fileType').innerHTML = 'Type: ' + file.type;
  }
}
  
</script>