<div ng-controller="PdComprasController as showCase">
    <table datatable dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="row-border hover">
      <tfoot>
        <tr>
            <th>ID
            </th><th>First Name
            </th><th>Last Name
            </th><th>Last Name
            </th><th>Last Name
            </th><th>Last Name
            </th><th>Last Name
            </th><th>Last Name
            </th><th>Last Name
        </th></tr>
        </tfoot>
    </table>

    <div class="container">
           <script type="text/ng-template" id="banco.html">
               <div class="modal fade">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">Cadastro Banco</h4>
                    </div>
                    <div class="modal-body">
                      <form  id="empresaForm">
                          <div class="row">
                              <div class="row">
                                  <div class="form-group col-sm-6">
                                      <label for="exampleInputEmail1">Nome</label>
                                      <input type="text"  ng-model="cfop.cfop" name="cfop" class="form-control" placeholder="Nome">
                                  </div>

                                  <div class="form-group col-sm-6">
                                      <label for="exampleInputEmail1">Site</label>
                                      <input type="text"  ng-model="cfop.cfop" name="cfop" class="form-control" placeholder="Site">
                                  </div>
                               </div>
                               <div class="row col-sm-12">
                                  <div class="form-group">
                                      <label for="exampleInputEmail1">Descrição</label>
                                      <input type="text" class="form-control" ng-model="cfop.descricao" name="descricao" placeholder="Descrição">
                                  </div>
                               </div>
                          </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                      <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Gravar</button>
                    </div>
                  </div>
                </div>
              </div>
           </script>

      </div>

      <div class="container">
           <script type="text/ng-template" id="cfopDelete.html">
               <div class="modal fade">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">Deletar</h4>
                    </div>
                    <div class="modal-body">
                        <p>Deseja Realmente EXCLUIR ID : 1001 </p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Sim</button>
                      <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Não</button>
                    </div>
                  </div>
                </div>
              </div>
           </script>

      </div>
</div>