<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="dist/css/select2.css"/>
<script src="dist/js/select2.min.js"></script>
<div ng-controller="ClienteController as showCase">
    <table datatable dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="row-border hover">
        <tfoot>
            <tr>
                <th>ID
                </th>
                <th>First Name
                </th>
                <th>Last Name
                </th>
                <th>Last Name
                </th>
                <th>Last Name
                </th>
                <th>Last Name
                </th>
                <th>Last Name
                </th>
                <th>Last Name
                </th>
                <th>Last Name
                </th>
            </tr>
        </tfoot>
    </table>
    <div class="container">
        <script type="text/ng-template" id="cliente.html">
            <div class="modal fade">
             <div class="modal-dialog" style="width : 80%">
               <div class="modal-content">
                 <div class="modal-header">
                   <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                   <h4 class="modal-title">Cadastro Cliente</h4>
                 </div>
                 <div class="modal-body">
                   <form  id="empresaForm">
                           <div class="row">
                               <div class="col-sm-3" style="margin-top:18px">
                                     <div class="checkbox">
                                         <label>
                                             <input type="checkbox" name="receiver" class="check-socio" value="1" /> Cliente
                                         </label>
                                     </div>
                                 </div>
                                 <div class="col-sm-3" style="margin-top:18px">
                                     <div class="checkbox">
                                         <label>
                                             <input type="checkbox" name="receiver" class="check-socio" value="1" /> Fornecedor
                                         </label>
                                     </div>
                                 </div>
                                 <div class="col-sm-3" style="margin-top:18px">
                                     <div class="checkbox">
                                         <label>
                                             <input type="checkbox" name="receiver" class="check-socio" value="1" /> Transportador
                                         </label>
                                     </div>
                                 </div>
                                 <div class="col-sm-3" style="margin-top:18px">
                                     <div class="checkbox">
                                         <label>
                                             <input type="checkbox" name="receiver" class="check-socio" value="1" /> Consumidor final
                                         </label>
                                     </div>
                                 </div>
                           </div>
                           <div class="row">
                               <div class="form-group col-sm-6">
                                   <label for="exampleInputEmail1">Nome ou Razão social</label>
                                   <input type="text"  ng-model="cfop.cfop" name="cfop" class="form-control" placeholder="Nome ou Razão social">
                               </div>
            
                               <div class="form-group col-sm-6">
                                   <label for="exampleInputEmail1">Nome Fantasia</label>
                                   <input type="text"  ng-model="cfop.cfop" name="cfop" class="form-control" placeholder="Nome Fantasia">
                               </div>
                            </div>
                            <div class="row">
                               <div class="form-group col-sm-3">
                                   <label for="exampleInputEmail1">CPF ou CNPJ</label>
                                   <input type="text"  ng-model="cfop.cfop" name="cfop" class="form-control" placeholder="Nº Cart. Trab">
                               </div>
            
                               <div class="form-group col-sm-3">
                                   <label for="exampleInputEmail1">Inscr Est Subst Trib</label>
                                   <input type="text"  ng-model="cfop.cfop" name="cfop" class="form-control" placeholder="DD/MM/AAAA">
                               </div>
                               <div class="form-group col-sm-3">
                                   <label for="exampleInputEmail1">Indicador de IE</label>
                                   <div class="row">
                                       <select id="contatos_indIE" class="col-sm-12" name="contatos_indIE" autocomplete="off">
                                             <option value="0"></option>
                                             <option value="1">Contribuinte ICMS</option>
                                             <option value="2">Isento de cadastro</option>
                                             <option value="9">Não contribuinte</option>
                                        </select>
                                     </div>
                               </div>
                               <div class="form-group col-sm-3">
                                   <label for="exampleInputEmail1">Inscrição Estadual</label>
                                         <input type="text" class="form-control" ng-model="cfop.descricao" name="descricao" placeholder="Entrada">
                               </div>
                            </div>
                            <div class="row">
                               <div class="form-group col-sm-3">
                                   <label for="exampleInputEmail1">Inscrição Municipal</label>
                                         <input type="text" class="form-control col-sm-3" ng-model="cfop.descricao" name="descricao" placeholder="Entrada">
                               </div>
                               <div class="form-group col-sm-3">
                                   <label for="exampleInputEmail1">Inscrição Suframa</label>
                                         <input type="text" class="form-control col-sm-3" ng-model="cfop.descricao" name="descricao" placeholder="Entrada">
                               </div>
                            
                               <div class="form-group col-sm-3">
                                   <label for="exampleInputEmail1">Nome do responsável</label>
                                   <input type="text" class="form-control col-sm-3" ng-model="cfop.descricao" name="descricao" placeholder="Entrada">
                               </div>
            
                               <div class="form-group col-sm-3">
                                   <label for="exampleInputEmail1">Data nascimento</label>
                                   <input type="text"  ng-model="cfop.cfop" name="cfop" class="form-control" placeholder="Jornada Trabalho">
                               </div>
                            </div>
                            
                             <div class="row">
                                 <div class="col-sm-6">
                                 <label for="exampleInputPassword1">CEP</label>
                                     <div class="input-group">
                                         <div class="form-group">
                                             <input type="text" class="form-control" name="cep" ng-model="empresa.enderecos[0].cep">
                                         </div>
                                         <span class="input-group-btn">
            
                                             <button class="btn btn-default" type="button" ng-click="cc.buscaRCep('38082243')"><i class="glyphicon glyphicon-search"> </i></button>
                                         </span>
                                     </div>
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="col-sm-9">
                                     <div class="form-group">
                                         <label for="exampleInputPassword1">Logradouro</label>
                                         <input type="text" class="form-control col-sm-8" name="logradouro" ng-model="empresa.enderecos[0].logradouro" placeholder="Logradouro">
                                     </div>
                                 </div>
                                 <div class="col-sm-3">
                                     <div class="form-group">
                                         <label for="exampleInputPassword1">Numero</label>
                                         <input type="text" class="form-control col-sm-4" name="numero" ng-model="empresa.enderecos[0].numero" placeholder="Numero">
                                     </div>
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="col-sm-4">
                                     <label for="exampleInputPassword1">Complemento</label>
                                     <input type="text" class="form-control col-sm-8" name="complemento" ng-model="empresa.enderecos[0].complemento" placeholder="Complemento">
                                 </div>
                                 <div class="col-sm-2">
                                     <label for="exampleInputPassword1">Bairro</label>
                                     <input type="text" class="form-control col-sm-4" ng-model="empresa.enderecos[0].bairro" placeholder="Bairro">
                                 </div>
                                 <div class="col-sm-2">
                                     <label for="exampleInputPassword1">Estado</label>
                                     <input type="text" class="form-control col-sm-8" ng-model="empresa.enderecos[0].estado.abreviacao" placeholder="Estado">
                                 </div>
                                 <div class="col-sm-2">
                                     <label for="exampleInputPassword1">Municipio</label>
                                     <input type="text" class="form-control col-sm-4" ng-model="empresa.enderecos[0].cidade.nome" placeholder="Municipio">
                                 </div>
            
                                 <div class="col-sm-2">
                                     <label for="exampleInputPassword1">Codigo IBGE</label>
                                     <input type="text" class="form-control col-sm-4" ng-model="empresa.enderecos[0].codIbge" placeholder="Codigo IBGE">
                                 </div>
                             </div>
                             <!-- -------------------  TELEFONE ----------------- -->
                             <div class="row">
            
                                 <div class="col-sm-4" style="margin-top:25px">
                                     <div class="btn-group">
                                         <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Adicionar <span class="caret"></span></button>
                                         <ul class="dropdown-menu" role="menu">
                                             <li><a href="javascript:;" class="addPhoneButton" data-name="phone_home">Residencial</a></li>
                                             <li><a href="javascript:;" class="addPhoneButton" data-name="phone_office">Celular TIM</a></li>
                                             <li><a href="javascript:;" class="addPhoneButton" data-name="phone_office">Celular OI</a></li>
                                         </ul>
                                     </div>
                                 </div>
                                 <div class="col-sm-4">
                                     <label for="exampleInputPassword1" class="control-label" >Telefone</label>
                                     <input type="text" class="form-control col-sm-4 gugu" name="phone" placeholder="Telefone">
                                 </div>
                             </div>
                             <!-- Template for dynamic field -->
                             <div class="row" id="template" style="display: none;">
            
                                 <div class="col-sm-4" style="margin-top:25px">
                                     <button type="button" class="btn btn-link removeButton">deletar</button>
                                 </div>
                                 <div class="col-sm-4">
                                 <label  for="exampleInputPassword1" class="control-label">Telefone</label>
                                     <input id='gugu' type="text" class="form-control col-sm-4 gugu"  placeholder="Telefone">
                                 </div>
                             </div>
            
                             <!-- ------------------------------------- --><!-- ------------------------------------- -->
            
                             <!-- -------------------  Email Empresa ----------------- -->
                             <div class="row">
                                 <div class="col-sm-4">
                                 <label for="exampleInputPassword1">Email</label>
                                     <input type="text" class="form-control col-sm-4 input-email" name="email" placeholder="Email">
                                 </div>
                                 <div class="col-sm-4" style="margin-top:25px">
                                     <div class="btn-group">
                                         <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Adicionar <span class="caret"></span></button>
                                         <ul class="dropdown-menu" role="menu">
                                             <li><a href="javascript:;" class="addEmailButton" data-name="email_princ">Principal</a></li>
                                             <li><a href="javascript:;" class="addEmailButton" data-name="email_home">Outro</a></li>
                                             <li><a href="javascript:;" class="addEmailButton" data-name="email_office">Trabalho</a></li>
                                         </ul>
                                     </div>
                                 </div>
                             </div>
            
                             <!-- Template for dynamic field -->
                             <div class="row" id="template-email" style="display: none;">
                                 <div class="col-sm-4">
                                 <label for="exampleInputPassword1" class="control-label">Email</label>
                                     <input type="email" class="form-control col-sm-4 input-email"  placeholder="Email">
                                 </div>
                                 <div class="col-sm-4" style="margin-top:25px">
                                     <button type="button" class="btn btn-link removeButton">deletar</button>
                                 </div>
                             </div>
            
                             <!-- ------------------------------------- --><!-- ------------------------------------- -->
                   </form>
                 
    </div>
    <div class="modal-footer">
    <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Gravar</button>
    </div>
</div>
</div>
</div>
</script>
</div>
<div class="container">
    <style type="text/css">
        .wash {
        list-style: none;
        padding: 0;
        margin: 0;
        }
        .tabs-was {
        float: left;
        border: 1px solid #000;
        border-bottom-width: 0;
        margin: 3px 3px 0px 3px;
        padding: 5px 5px 0px 5px;
        background-color: #CCC;
        color: ##3767B9;
        }
        #mainView {
        border: 1px solid black;
        clear: both;
        }
        .active {
        background-color: #FFF;
        color: #000;
        }
        * {margin: 0; padding: 0; box-sizing: border-box;}
        .tabs-nav {padding: 20px 0 0; list-style: none;}
        .tabs-nav li {display: inline;}
        .tabs-nav a {
        display:inline-block;
        border: 1px solid #ddd;
        border-bottom: none;
        padding: 15px;
        cursor: pointer;
        border-radius: 5px 5px 0 0;
        font-size: 14px;
        color: #fff;
        background: #1B3975;
        }
        .tabs-nav .active {
        background: #fff;
        color: #000;
        border-bottom: 1px solid #fff;
        margin-bottom: -1px;
        }
        .tab-content {
        border: 1px solid #ddd;
        padding: 20px;
        }
        .tab-content1 {
        border: 1px solid #ddd;
        padding: 20px;
        }
        p {
        margin-bottom: 15px;
        }
    </style>
    <script type="text/ng-template" id="clienteEdit.html">
        <div class="modal fade">
         <div class="modal-dialog" style="width : 80%">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Cadastro Cliente</h4>
             </div>
             <div class="modal-body">
               <form  id="empresaForm">
                   <div class="container1" ng-app ng-init="tabs=4">
                     <ul class="tabs-nav">
                     <li><a ng-click="tabs=4" ng-class="{'active' : tabs==4}">Cliente</a></li>
                     <li><a ng-click="tabs=5" ng-class="{'active' : tabs==5}">Compras</a></li>
                     <li><a ng-click="tabs=6" ng-class="{'active' : tabs==6}">Financeiro</a></li>
                     <li><a ng-click="tabs=7" ng-class="{'active' : tabs==7}">Graficos</a></li>
                     </ul>
                     <div class="tabs-container1">
                     <div class="tab-content1" ng-show="tabs == 4">
                       <div class="row">
                           <div class="col-sm-3" style="margin-top:18px">
                                 <div class="checkbox">
                                     <label>
                                         <input type="checkbox" name="receiver" class="check-socio" value="1" /> Cliente
                                     </label>
                                 </div>
                             </div>
                             <div class="col-sm-3" style="margin-top:18px">
                                 <div class="checkbox">
                                     <label>
                                         <input type="checkbox" name="receiver" class="check-socio" value="1" /> Fornecedor
                                     </label>
                                 </div>
                             </div>
                             <div class="col-sm-3" style="margin-top:18px">
                                 <div class="checkbox">
                                     <label>
                                         <input type="checkbox" name="receiver" class="check-socio" value="1" /> Transportador
                                     </label>
                                 </div>
                             </div>
                             <div class="col-sm-3" style="margin-top:18px">
                                 <div class="checkbox">
                                     <label>
                                         <input type="checkbox" name="receiver" class="check-socio" value="1" /> Consumidor final
                                     </label>
                                 </div>
                             </div>
                       </div>
                       <div class="row">
                           <div class="form-group col-sm-6">
                               <label for="exampleInputEmail1">Nome ou Razão social</label>
                               <input type="text"  ng-model="cfop.cfop" name="cfop" class="form-control" placeholder="Nome ou Razão social">
                           </div>
        
                           <div class="form-group col-sm-6">
                               <label for="exampleInputEmail1">Nome Fantasia</label>
                               <input type="text"  ng-model="cfop.cfop" name="cfop" class="form-control" placeholder="Nome Fantasia">
                           </div>
                        </div>
                        <div class="row">
                           <div class="form-group col-sm-3">
                               <label for="exampleInputEmail1">CPF ou CNPJ</label>
                               <input type="text"  ng-model="cfop.cfop" name="cfop" class="form-control" placeholder="Nº Cart. Trab">
                           </div>
        
                           <div class="form-group col-sm-3">
                               <label for="exampleInputEmail1">Inscr Est Subst Trib</label>
                               <input type="text"  ng-model="cfop.cfop" name="cfop" class="form-control" placeholder="DD/MM/AAAA">
                           </div>
                           <div class="form-group col-sm-3">
                               <label for="exampleInputEmail1">Indicador de IE</label>
                               <div class="row">
                                   <select id="contatos_indIE" class="col-sm-12" name="contatos_indIE" autocomplete="off">
                                         <option value="0"></option>
                                         <option value="1">Contribuinte ICMS</option>
                                         <option value="2">Isento de cadastro</option>
                                         <option value="9">Não contribuinte</option>
                                    </select>
                                 </div>
                           </div>
                           <div class="form-group col-sm-3">
                               <label for="exampleInputEmail1">Inscrição Estadual</label>
                                     <input type="text" class="form-control" ng-model="cfop.descricao" name="descricao" placeholder="Entrada">
                           </div>
                        </div>
                        <div class="row">
                           <div class="form-group col-sm-3">
                               <label for="exampleInputEmail1">Inscrição Municipal</label>
                                     <input type="text" class="form-control col-sm-3" ng-model="cfop.descricao" name="descricao" placeholder="Entrada">
                           </div>
                           <div class="form-group col-sm-3">
                               <label for="exampleInputEmail1">Inscrição Suframa</label>
                                     <input type="text" class="form-control col-sm-3" ng-model="cfop.descricao" name="descricao" placeholder="Entrada">
                           </div>
                        
                           <div class="form-group col-sm-3">
                               <label for="exampleInputEmail1">Nome do responsável</label>
                               <input type="text" class="form-control col-sm-3" ng-model="cfop.descricao" name="descricao" placeholder="Entrada">
                           </div>
        
                           <div class="form-group col-sm-3">
                               <label for="exampleInputEmail1">Data nascimento</label>
                               <input type="text"  ng-model="cfop.cfop" name="cfop" class="form-control" placeholder="Jornada Trabalho">
                           </div>
                        </div>
                        
                         <div class="row">
                             <div class="col-sm-6">
                             <label for="exampleInputPassword1">CEP</label>
                                 <div class="input-group">
                                     <div class="form-group">
                                         <input type="text" class="form-control" name="cep" ng-model="empresa.enderecos[0].cep">
                                     </div>
                                     <span class="input-group-btn">
        
                                         <button class="btn btn-default" type="button" ng-click="cc.buscaRCep('38082243')"><i class="glyphicon glyphicon-search"> </i></button>
                                     </span>
                                 </div>
                             </div>
                         </div>
                         <div class="row">
                             <div class="col-sm-9">
                                 <div class="form-group">
                                     <label for="exampleInputPassword1">Logradouro</label>
                                     <input type="text" class="form-control col-sm-8" name="logradouro" ng-model="empresa.enderecos[0].logradouro" placeholder="Logradouro">
                                 </div>
                             </div>
                             <div class="col-sm-3">
                                 <div class="form-group">
                                     <label for="exampleInputPassword1">Numero</label>
                                     <input type="text" class="form-control col-sm-4" name="numero" ng-model="empresa.enderecos[0].numero" placeholder="Numero">
                                 </div>
                             </div>
                         </div>
                         <div class="row">
                             <div class="col-sm-4">
                                 <label for="exampleInputPassword1">Complemento</label>
                                 <input type="text" class="form-control col-sm-8" name="complemento" ng-model="empresa.enderecos[0].complemento" placeholder="Complemento">
                             </div>
                             <div class="col-sm-2">
                                 <label for="exampleInputPassword1">Bairro</label>
                                 <input type="text" class="form-control col-sm-4" ng-model="empresa.enderecos[0].bairro" placeholder="Bairro">
                             </div>
                             <div class="col-sm-2">
                                 <label for="exampleInputPassword1">Estado</label>
                                 <input type="text" class="form-control col-sm-8" ng-model="empresa.enderecos[0].estado.abreviacao" placeholder="Estado">
                             </div>
                             <div class="col-sm-2">
                                 <label for="exampleInputPassword1">Municipio</label>
                                 <input type="text" class="form-control col-sm-4" ng-model="empresa.enderecos[0].cidade.nome" placeholder="Municipio">
                             </div>
        
                             <div class="col-sm-2">
                                 <label for="exampleInputPassword1">Codigo IBGE</label>
                                 <input type="text" class="form-control col-sm-4" ng-model="empresa.enderecos[0].codIbge" placeholder="Codigo IBGE">
                             </div>
                         </div>
                         <!-- -------------------  TELEFONE ----------------- -->
                         <div class="row">
        
                             <div class="col-sm-4" style="margin-top:25px">
                                 <div class="btn-group">
                                     <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Adicionar <span class="caret"></span></button>
                                     <ul class="dropdown-menu" role="menu">
                                         <li><a href="javascript:;" class="addPhoneButton" data-name="phone_home">Residencial</a></li>
                                         <li><a href="javascript:;" class="addPhoneButton" data-name="phone_office">Celular TIM</a></li>
                                         <li><a href="javascript:;" class="addPhoneButton" data-name="phone_office">Celular OI</a></li>
                                     </ul>
                                 </div>
                             </div>
                             <div class="col-sm-4">
                                 <label for="exampleInputPassword1" class="control-label" >Telefone</label>
                                 <input type="text" class="form-control col-sm-4 gugu" name="phone" placeholder="Telefone">
                             </div>
                         </div>
                         <!-- Template for dynamic field -->
                         <div class="row" id="template" style="display: none;">
        
                             <div class="col-sm-4" style="margin-top:25px">
                                 <button type="button" class="btn btn-link removeButton">deletar</button>
                             </div>
                             <div class="col-sm-4">
                             <label  for="exampleInputPassword1" class="control-label">Telefone</label>
                                 <input id='gugu' type="text" class="form-control col-sm-4 gugu"  placeholder="Telefone">
                             </div>
                         </div>
        
                         <!-- ------------------------------------- --><!-- ------------------------------------- -->
        
                         <!-- -------------------  Email Empresa ----------------- -->
                         <div class="row">
                             <div class="col-sm-4">
                             <label for="exampleInputPassword1">Email</label>
                                 <input type="text" class="form-control col-sm-4 input-email" name="email" placeholder="Email">
                             </div>
                             <div class="col-sm-4" style="margin-top:25px">
                                 <div class="btn-group">
                                     <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Adicionar <span class="caret"></span></button>
                                     <ul class="dropdown-menu" role="menu">
                                         <li><a href="javascript:;" class="addEmailButton" data-name="email_princ">Principal</a></li>
                                         <li><a href="javascript:;" class="addEmailButton" data-name="email_home">Outro</a></li>
                                         <li><a href="javascript:;" class="addEmailButton" data-name="email_office">Trabalho</a></li>
                                     </ul>
                                 </div>
                             </div>
                         </div>
        
                         <!-- Template for dynamic field -->
                         <div class="row" id="template-email" style="display: none;">
                             <div class="col-sm-4">
                             <label for="exampleInputPassword1" class="control-label">Email</label>
                                 <input type="email" class="form-control col-sm-4 input-email"  placeholder="Email">
                             </div>
                             <div class="col-sm-4" style="margin-top:25px">
                                 <button type="button" class="btn btn-link removeButton">deletar</button>
                             </div>
                         </div>
</div>
<div class="tab-content1" ng-show="tabs == 5">
<div ng-controller="ComprasController as showCase">
<table datatable dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="row-border hover">
<tfoot>
<tr>
<th>ID
</th><th>First Name
</th><th>Last Name
</th><th>Last Name
</th><th>Last Name
</th><th>Last Name
</th><th>Last Name
</th><th>Last Name
</th><th>Last Name
</th></tr>
</tfoot>
</table>
</div>
</div>
<div class="tab-content1" ng-show="tabs == 6">
<div ng-controller="PagamentosController as showCase">
<table datatable dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="row-border hover">
<tfoot>
<tr>
<th>ID
</th><th>First Name
</th><th>Last Name
</th><th>Last Name
</th><th>Last Name
</th><th>Last Name
</th><th>Last Name
</th><th>Last Name
</th><th>Last Name
</th></tr>
</tfoot>
</table>
</div>
</div>
<div class="tab-content1" ng-show="tabs == 7">
<div class="row" ng-controller="EChartsController as ec">
<div class="col-md-6">
<div class="panel panel-default panel-minimal">
<div class="divider divider-md"></div>
<div class="panel-heading">Produtos mais Vendidos</div>
<div class="panel-body">
<div data-echarts data-options="ec.pie1.options" style="height: 350px;"></div>
</div>
</div>
</div>
<div class="col-md-6">
<div class="panel panel-default panel-minimal">
<div class="divider divider-md"></div>
<div class="panel-heading">Estoque Vendas e Compras</div>
<div class="panel-body">
<div data-echarts data-options="ec.line3.options" style="height: 350px;"></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</form>
</div>
<div class="modal-footer">
<button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
<button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Gravar</button>
</div>
</div>
</div>
</div>
</script>
</div>
<div class="container">
    <script type="text/ng-template" id="cfopDelete.html">
        <div class="modal fade">
         <div class="modal-dialog">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Deletar</h4>
             </div>
             <div class="modal-body">
                 <p>Deseja Realmente EXCLUIR ID : 1001 </p>
             </div>
             <div class="modal-footer">
               <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Sim</button>
               <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Não</button>
             </div>
           </div>
         </div>
        </div>
    </script>
</div>
</div>
