<div class="page page-table" data-ng-controller="produtoController as demo"  >
	<div class="row">
		<div class="col-md-12">
        <div class="col-md-12" ng-controller="produtoController as demo">
          <h3>ngTableDynamic directive</h3>
          <div style="margin-bottom: 20px">
            <label class="checkbox-inline" ng-repeat="col in demo.cols">
              <input type="checkbox" ng-model="col.show" /> {{col.title}}
            </label>
          </div>
          <table ng-table-dynamic="demo.tableParams with demo.cols"
                 class="table table-condensed table-bordered table-striped">
            <tr ng-repeat="row in $data">
              <td ng-repeat="col in $columns">{{row[col.field]}}</td>
            </tr>
          </table>
        </div>

		</div>
	</div>
</div>
	<div data-ui-footer></div>
