<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="dist/css/select2.css"/>
<script src="dist/js/select2.min.js"></script>
<div ng-controller="ServicoController as showCase">
	<table datatable dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="row-border hover">
		<tfoot>
			<tr>
				<th>ID
				</th>
				<th>Serviço
				</th>
				<th>Valor
				</th>
			</tr>
		</tfoot>
	</table>
</div>
<div class="container">
	<script type="text/ng-template" id="cadServico.html">
		<div class="modal fade">
		 <div class="modal-dialog" style="width : 40%">
		   <div class="modal-content">
		     <div class="modal-header">
		       <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
		       <h4 class="modal-title">Cadastro Serviço</h4>
		     </div>
		     <div class="modal-body">
			     <form  id="pdVendasForm">
			     	<div class="row">
			     		<div class="col-sm-12">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Serviço</label>
                                <input type="text" class="form-control col-sm-8 " ng-model="produto.precoVenda" name="precoVenda"  placeholder="Serviço">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Valor</label>
                                <input type="text" class="form-control col-sm-8 " ng-model="produto.precoVenda" name="precoVenda"  placeholder="Valor">
                            </div>
                        </div>
			     	</div>
			     	<div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Descrição</label>
                                <input type="text" class="form-control col-sm-8 " ng-model="produto.precoVenda" name="precoVenda"  placeholder="Descrição">
                            </div>
                        </div>
			     	</div>
			   	 </form>
		     </div>
		     <div class="modal-footer">
		       <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
		       <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Gravar</button>
		     </div>
		   </div>
		 </div>
		</div>
	</script>
</div>




<div class="container">
	<script type="text/ng-template" id="DeleteServico.html">
		<div class="modal fade">
		 <div class="modal-dialog">
		   <div class="modal-content">
		     <div class="modal-header">
		       <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
		       <h4 class="modal-title">Deletar</h4>
		     </div>
		     <div class="modal-body">
		       	<p>Deseja Realmente EXCLUIR ID : 1001 </p>
		     </div>
		     <div class="modal-footer">
		       <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Sim</button>
		       <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Não</button>
		     </div>
		   </div>
		 </div>
		</div>
	</script>
</div>
