<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="dist/css/select2.css"/>
<script src="dist/js/select2.min.js"></script>

    <style>    	
		.select {
		    margin-bottom: 6px;
		    margin-top: -19px;
		}
		.tam {

			 height: 32px;
		    margin-left: -12px;
		    margin-top: -6px;
		    width: 102%;
		}
    </style>
<div ng-controller="NotaFiscalController as showCase">
    <table datatable dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="row-border hover">
    	<tfoot>
	        <tr>
	            <th>ID
	            </th><th>First Name
	            </th><th>Last Name
	            </th><th>Last Name
	            </th><th>Last Name
	            </th><th>Last Name
	            </th><th>Last Name
	            </th><th>Last Name
	            </th><th>Last Name
	        </th></tr>
        </tfoot>
    </table>
</div>

<div class="container">
<style type="text/css">
  .wash {
  list-style: none;
  padding: 0;
  margin: 0;
  }
  .tabs-was {
  float: left;
  border: 1px solid #000;
  border-bottom-width: 0;
  margin: 3px 3px 0px 3px;
  padding: 5px 5px 0px 5px;
  background-color: #CCC;
  color: ##3767B9;
  }
  #mainView {
  border: 1px solid black;
  clear: both;
  }
  .active {
  background-color: #FFF;
  color: #000;
  }
  * {margin: 0; padding: 0; box-sizing: border-box;}
  .tabs-nav {padding: 20px 0 0; list-style: none;}
  .tabs-nav li {display: inline;}
  .tabs-nav a {
  display:inline-block;
  border: 1px solid #ddd;
  border-bottom: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  font-size: 14px;
  color: #fff;
  background: rgba(20, 144, 64, 0.7);
  }
  .tabs-nav .active {
  background: #fff;
  color: rgba(20, 144, 64, 0.7);
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
  }
  .tab-content {
  border: 1px solid #ddd;
  padding: 20px;
  }
  .tab-content1 {
  border: 1px solid #ddd;
  padding: 20px;
  }
  p {
  margin-bottom: 15px;
  }
</style>
     <script type="text/ng-template" id="modalNfSaida.html">
         <div class="modal fade">
          <div class="modal-dialog" style="width : 100%">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Cadastro Pedido Venda</h4>
              </div>
              <div class="modal-body">
                <form  id="pdVendasForm">
                	<div class="container" ng-app ng-init="tab=1">
  <ul class="tabs-nav">
    <li><a ng-click="tab=1" ng-class="{'active' : tab==1}"  data-i18n="dados da nfe-e"></a></li>
    <li><a ng-click="tab=2" ng-class="{'active' : tab==2}" data-i18n="emitente"></a></li>
    <li><a ng-click="tab=3" ng-class="{'active' : tab==3}" data-i18n="destinatario"></a></li>
    <li><a ng-click="tab=4" ng-class="{'active' : tab==4}" data-i18n="produtos e servicos"></a></li>
    <li><a ng-click="tab=5" ng-class="{'active' : tab==5}" data-i18n="totais"></a></li>
    <li><a ng-click="tab=6" ng-class="{'active' : tab==6}" data-i18n="transporte"></a></li>
    <li><a ng-click="tab=7" ng-class="{'active' : tab==7}" data-i18n="cobranca"></a></li>
    <li><a ng-click="tab=8" ng-class="{'active' : tab==8}" data-i18n="Info. Adic."></a></li>
    <li><a ng-click="tab=9" ng-class="{'active' : tab==9}" data-i18n="Export. e Compras"></a></li>
    <li><a ng-click="tab=10" ng-class="{'active' : tab==10}" data-i18n="Cana"></a></li>
  </ul>
  <div class="tabs-container">
    <div class="tab-content" ng-show="tab == 1">
      <div class="container1" ng-app ng-init="tabs=4">
        <ul class="tabs-nav">
          <li><a ng-click="tabs=4" ng-class="{'active' : tabs==4}">NF-e</a></li>
          <li><a ng-click="tabs=5" ng-class="{'active' : tabs==5}">Notas e Conhecimentos Fiscais Referenciados</a></li>
          <li><a ng-click="tabs=6" ng-class="{'active' : tabs==6}">Notas Fiscais Referenciadas de Produtor</a></li>
          <li><a ng-click="tabs=7" ng-class="{'active' : tabs==7}">Cupons Fiscais Vinculados a NF-e</a></li>
        </ul>
        <div class="tabs-container1">
          <div class="tab-content1" ng-show="tabs == 4">
            <div class="row">
              <div class="col-sm-1">
                <div class="form-group">
                  <label for="exampleInputPassword1">Modelo</label>
                  <input type="text" class="form-control " ng-model="produto.nome" name="produto"  placeholder="Nome do Produto">
                </div>
              </div>
              <div class="col-sm-1 ">
                <div class="form-group">
                  <label for="exampleInputPassword1">Serie</label>
                  <input type="text" class="form-control " ng-model="produto.nome" name="produto"  placeholder="Nome do Produto">
                </div>
              </div>
              <div class="col-sm-1 ">
                <div class="form-group">
                  <label for="exampleInputPassword1">Numero</label>
                  <input type="text" class="form-control " ng-model="produto.codigo" name="codigo"  placeholder="Código Interno">
                </div>
              </div>
              <div class="col-sm-3 ">
                <div class="form-group">
                  <label for="exampleInputPassword1">Data e Hora Emissão</label>
                  <input type="text" class="form-control " ng-model="produto.codigo" name="codigo"  placeholder="Código Interno">
                </div>
              </div>
              <div class="col-sm-3" style="margin-top:18px">
                <div class="checkbox">
                  <label>
                  <input type="checkbox" name="receiver" class="check-socio" value="1" /> Informar Codigo Numerico ?
                  </label>
                </div>
              </div>
              <div class="col-sm-2 ">
                <div class="form-group">
                  <label for="exampleInputPassword1">Cod Numerico</label>
                  <input type="text" class="form-control " ng-model="produto.codigo" name="codigo"  placeholder="Código Interno">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <label for="exampleInputPassword1">Tipo do Documento</label>
                <div class="row ">
                  <select id="unidTributada" name="unidTributada"  ng-model="produto.unidTributada" class="col-sm-12">
                    <option value="1">Saída</option>
                    <option value="2">Entrada</option>
                    n>
                  </select>
                </div>
              </div>
              <div class="col-sm-4 ">
                <div class="form-group">
                  <label for="exampleInputPassword1">Data e hora de saída/entrada</label>
                  <input type="text" class="form-control " ng-model="produto.nome" name="produto"  placeholder="Nome do Produto">
                </div>
              </div>
              <div class="col-sm-4 ">
                <label for="exampleInputPassword1">Forma Pagamento</label>
                <div class="row ">
                  <select id="unidTributada" name="unidTributada"  ng-model="produto.unidTributada" class="col-sm-12">
                    <option value="01">À Vista</option>
                    <option value="02">1X </option>
                    <option value="03">2X </option>
                    <option value="04">3X </option>
                    <option value="05">4X </option>
                    <option value="06">5X </option>
                    <option value="07">6X </option>
                    <option value="08">7X </option>
                    <option style="background-color : #F1F4F9"><a>Adicionar Novo </a><i class="glyphicon glyphicon-plus"></i></option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 ">
                <label for="exampleInputPassword1">Forma Emissão</label>
                <div class="row ">
                  <select id="unidTributada" name="unidTributada"  ng-model="produto.unidTributada" class="col-sm-12">
                    <option value="01">Normal</option>
                    <option value="02">Contigência FS-IA</option>
                    <option value="03">Contigência via EPEC </option>
                    <option value="04">Contigência FS-DA </option>
                    <option value="05">Contigência SVC-AN </option>
                    <option value="06">Contigência SVC-RS </option>
                    <option style="background-color : #F1F4F9"><a>Adicionar Novo </a><i class="glyphicon glyphicon-plus"></i></option>
                  </select>
                </div>
              </div>
              <div class="col-sm-4 ">
                <label for="exampleInputPassword1">Finalidade de Emissão</label>
                <div class="row ">
                  <select id="unidTributada" name="unidTributada"  ng-model="produto.unidTributada" class="col-sm-12">
                    <option value="01">NF-e normal</option>
                    <option value="02">NF-e complementar</option>
                    <option value="03">NF-e de ajuste</option>
                    <option value="04">Devolução de mercadoria</option>
                    <option style="background-color : #F1F4F9"><a>Adicionar Novo </a><i class="glyphicon glyphicon-plus"></i></option>
                  </select>
                </div>
              </div>
              <div class="col-sm-4 ">
                <label for="exampleInputPassword1">Tipo Emissão DANFE</label>
                <div class="row ">
                  <select id="unidTributada" name="unidTributada"  ng-model="produto.unidTributada" class="col-sm-12">
                    <option value="01">Retrato</option>
                    <option value="02">Paisagem</option>
                    <option style="background-color : #F1F4F9"><a>Adicionar Novo </a><i class="glyphicon glyphicon-plus"></i></option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 ">
                <label for="exampleInputPassword1">Consumidor Final</label>
                <div class="row ">
                  <select id="unidTributada" name="unidTributada"  ng-model="produto.unidTributada" class="col-sm-12">
                    <option value="01">Sim</option>
                    <option value="02">Não</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-4 ">
                <label for="exampleInputPassword1">Destino da Operação</label>
                <div class="row ">
                  <select id="unidTributada" name="unidTributada"  ng-model="produto.unidTributada" class="col-sm-12">
                    <option value="01">Operação Interna</option>
                    <option value="02">Operação Interestadual</option>
                    <option value="03">Operação com Exterior</option>
                    <option style="background-color : #F1F4F9"><a>Adicionar Novo </a><i class="glyphicon glyphicon-plus"></i></option>
                  </select>
                </div>
              </div>
              <div class="col-sm-4 ">
                <label for="exampleInputPassword1">Tipo Atendimento</label>
                <div class="row ">
                  <select id="unidTributada" name="unidTributada"  ng-model="produto.unidTributada" class="col-sm-12">
                    <option value="01">Não se aplica</option>
                    <option value="02">Operação Presencial</option>
                    <option value="01">Operação NÂO Presencial, pela INTERNET</option>
                    <option value="02">Operação NÂO Presencial, pela TELEATENDIMENTO</option>
                    <option value="01">Operação NÂO Presencial, pela OUTROS</option>
                    <option style="background-color : #F1F4F9"><a>Adicionar Novo </a><i class="glyphicon glyphicon-plus"></i></option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 ">
                <div class="form-group">
                  <label for="exampleInputPassword1">Natureza Operação</label>
                  <input type="text" class="form-control " ng-model="produto.nome" name="produto"  placeholder="Nome do Produto">
                </div>
              </div>
              <div class="col-sm-4 ">
                <label for="exampleInputPassword1">UF</label>
                <div class="row ">
                  <select id="unidTributada" name="unidTributada"  ng-model="produto.unidTributada" class="col-sm-12">
                    <option value="01">MG</option>
                    <option value="02">SP</option>
                    <option value="03">RJ</option>
                    <option value="04">RO</option>
                    <option style="background-color : #F1F4F9"><a>Adicionar Novo </a><i class="glyphicon glyphicon-plus"></i></option>
                  </select>
                </div>
              </div>
              <div class="col-sm-4 ">
                <label for="exampleInputPassword1">Municipio de ocorrência</label>
                <div class="row ">
                  <select id="unidTributada" name="unidTributada"  ng-model="produto.unidTributada" class="col-sm-12">
                    <option value="01">Uberaba</option>
                    <option value="02">Uberlandia</option>
                    <option style="background-color : #F1F4F9"><a>Adicionar Novo </a><i class="glyphicon glyphicon-plus"></i></option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-content1" ng-show="tabs == 5">
            <h3>Segunda aba</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet impedit dolorem quae, quo nobis omnis? Officia quibusdam quaerat assumenda ipsam, et quos laborum quae ex iste numquam laboriosam obcaecati iure.</p>
          </div>
          <div class="tab-content1" ng-show="tabs == 6">
            <h3>Terceira aba</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis totam quibusdam maxime quidem id ducimus, esse aliquid in facilis quisquam ut possimus enim voluptatum quas accusamus, necessitatibus provident. Doloremque, nulla.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-content" ng-show="tab == 2">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="form-group">
            <label for="exampleInputPassword1">CNPJ/Cod Interno</label>
            <input type="text" class="form-control " ng-model="produto.nome" name="produto"  placeholder="Nome do Produto">
          </div>
        </div>
        <div class="col-sm-8 ">
          <div class="form-group">
            <label for="exampleInputPassword1">Razão Social</label>
            <input type="text" class="form-control " ng-model="produto.nome" name="produto"  placeholder="Nome do Produto">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 ">
          <div class="form-group">
            <label for="exampleInputPassword1">Nome Fantasia</label>
            <input type="text" class="form-control " ng-model="produto.nome" name="produto"  placeholder="Nome do Produto">
          </div>
        </div>
        <div class="col-sm-3 ">
          <div class="form-group">
            <label for="exampleInputPassword1">Inscrição Estadual</label>
            <input type="text" class="form-control " ng-model="produto.nome" name="produto"  placeholder="Nome do Produto">
          </div>
        </div>
        <div class="col-sm-3 ">
          <div class="form-group">
            <label for="exampleInputPassword1">IE. do Subst. Tributário</label>
            <input type="text" class="form-control " ng-model="produto.nome" name="produto"  placeholder="Nome do Produto">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 ">
          <div class="form-group">
            <label for="exampleInputPassword1">Inscrição Municipal</label>
            <input type="text" class="form-control " ng-model="produto.nome" name="produto"  placeholder="Nome do Produto">
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="form-group">
            <label for="exampleInputPassword1">CNAE</label>
            <input type="text" class="form-control " ng-model="produto.nome" name="produto"  placeholder="Nome do Produto">
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="form-group">
            <label for="exampleInputPassword1">Regime Tributario</label>
            <input type="text" class="form-control " ng-model="produto.nome" name="produto"  placeholder="Nome do Produto">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3 ">
          <div class="form-group">
            <label for="exampleInputPassword1">Bairro</label>
            <input type="text" class="form-control " ng-model="produto.nome" name="produto"  placeholder="Nome do Produto">
          </div>
        </div>
        <div class="col-sm-2 ">
          <div class="form-group">
            <label for="exampleInputPassword1">CEP</label>
            <input type="text" class="form-control " ng-model="produto.nome" name="produto"  placeholder="Nome do Produto">
          </div>
        </div>
        <div class="col-sm-2 ">
          <div class="form-group">
            <label for="exampleInputPassword1">UF</label>
            <input type="text" class="form-control " ng-model="produto.nome" name="produto"  placeholder="Nome do Produto">
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label for="exampleInputPassword1">Municipio</label>
            <input type="text" class="form-control " ng-model="produto.nome" name="produto"  placeholder="Nome do Produto">
          </div>
        </div>
        <div class="col-sm-3 ">
          <div class="form-group">
            <label for="exampleInputPassword1">Complemento</label>
            <input type="text" class="form-control " ng-model="produto.nome" name="produto"  placeholder="Nome do Produto">
          </div>
        </div>
      </div>
    </div>
    <div class="tab-content" ng-show="tab == 3">
      <div class="row">
        <div class="col-sm-8">
          <label for="exampleInputPassword1">Razão Social/Nome</label>
          <div class="row">
            <select id="unidTributada" name="unidTributada"  ng-model="produto.unidTributada" class="col-sm-12">
              <option value="1"> 1 - Theon Greyjoy</option>
              <option value="2"> 2 - Sansa Stark</option>
              <option value="9"> 3 - Jon Snow</option>
              <option style="background-color : #F1F4F9"><a>Adicionar Novo </a><i class="glyphicon glyphicon-plus"></i></option>
            </select>
          </div>
        </div>
        <div class="col-sm-3 ">
          <label for="exampleInputPassword1">Tipo Contribuinte</label>
          <div class="row">
            <select id="unidTributada" name="unidTributada"  ng-model="produto.unidTributada" class="col-sm-12">
              <option value="1">Contribuinte ICMS</option>
              <option value="2">Contribuinte ISENTO</option>
              <option value="9">NÃO Contribuinte</option>
              <option style="background-color : #F1F4F9"><a>Adicionar Novo </a><i class="glyphicon glyphicon-plus"></i></option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 ">
          <div class="form-group">
            <label for="exampleInputPassword1">Inscrição Estadual</label>
            <input type="text" class="form-control " ng-model="produto.nome" name="produto"  placeholder="Nome do Produto">
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="form-group">
            <label for="exampleInputPassword1">Inscrição SUFRAMA</label>
            <input type="text" class="form-control " ng-model="produto.nome" name="produto"  placeholder="Nome do Produto">
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="form-group">
            <label for="exampleInputPassword1">Inscrição Municipal</label>
            <input type="text" class="form-control " ng-model="produto.nome" name="produto"  placeholder="Nome do Produto">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5" style="margin-top:18px">
          <div class="checkbox">
            <label>
            <input type="checkbox" name="receiver" class="check-socio" value="1" /> Local de retirada diferente do emitente
            </label>
          </div>
        </div>
        <div class="col-sm-5" style="margin-top:18px">
          <div class="row">
            <select id="unidTributada" name="unidTributada"  ng-model="produto.unidTributada" class="col-sm-12">
              <option value="1">38082-243 - Maria conceição silva 686 Uberaba</option>
              <option value="2">38082-240 - Maria conceição silva 1000 Uberlandia</option>
              <option style="background-color : #F1F4F9"><a>Adicionar Novo </a><i class="glyphicon glyphicon-plus"></i></option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5" style="margin-top:18px">
          <div class="checkbox">
            <label>
            <input type="checkbox" name="receiver" class="check-socio" value="1" /> Local de entrega diferente do destinatario
            </label>
          </div>
        </div>
        <div class="col-sm-5" style="margin-top:18px">
          <div class="row">
            <select id="unidTributada" name="unidTributada"  ng-model="produto.unidTributada" class="col-sm-12">
              <option value="1">38082-243 - Maria conceição silva 686 Uberaba</option>
              <option value="2">38082-240 - Maria conceição silva 1000 Uberlandia</option>
              <option style="background-color : #F1F4F9"><a>Adicionar Novo </a><i class="glyphicon glyphicon-plus"></i></option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-content" ng-show="tab == 4">
    </div>
    <div class="tab-content" ng-show="tab == 5">
      <h3>Segunda aba</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet impedit dolorem quae, quo nobis omnis? Officia quibusdam quaerat assumenda ipsam, et quos laborum quae ex iste numquam laboriosam obcaecati iure.</p>
    </div>
    <div class="tab-content" ng-show="tab == 6">
      <h3>Segunda aba</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet impedit dolorem quae, quo nobis omnis? Officia quibusdam quaerat assumenda ipsam, et quos laborum quae ex iste numquam laboriosam obcaecati iure.</p>
    </div>
    <div class="tab-content" ng-show="tab == 7">
      <h3>Segunda aba</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet impedit dolorem quae, quo nobis omnis? Officia quibusdam quaerat assumenda ipsam, et quos laborum quae ex iste numquam laboriosam obcaecati iure.</p>
    </div>
    <div class="tab-content" ng-show="tab == 8">
      <h3>Segunda aba</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet impedit dolorem quae, quo nobis omnis? Officia quibusdam quaerat assumenda ipsam, et quos laborum quae ex iste numquam laboriosam obcaecati iure.</p>
    </div>
    <div class="tab-content" ng-show="tab == 9">
      <h3>Segunda aba</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet impedit dolorem quae, quo nobis omnis? Officia quibusdam quaerat assumenda ipsam, et quos laborum quae ex iste numquam laboriosam obcaecati iure.</p>
    </div>
    <div class="tab-content" ng-show="tab == 10">
      <h3>Segunda aba</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet impedit dolorem quae, quo nobis omnis? Officia quibusdam quaerat assumenda ipsam, et quos laborum quae ex iste numquam laboriosam obcaecati iure.</p>
    </div>
  </div>
</div>
            	</form>
              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Gravar</button>
              </div>
            </div>
          </div>
        </div>
     </script>

</div>

			<div class="container">
			     <script type="text/ng-template" id="cfopDelete.html">
			         <div class="modal fade">
			          <div class="modal-dialog">
			            <div class="modal-content">
			              <div class="modal-header">
			                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
			                <h4 class="modal-title">Deletar</h4>
			              </div>
			              <div class="modal-body">
			                	<p>Deseja Realmente EXCLUIR ID : 1001 </p>
			              </div>
			              <div class="modal-footer">
			                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Sim</button>
			                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Não</button>
			              </div>
			            </div>
			          </div>
			        </div>
			     </script>

			</div>
